{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

    {% set item_name = 'block--staydirect-template-1-about-us-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_template_1_about_us_full')}}

    {% set c = block_parser(content) %}
    {% set links= c['field_link1'] %}

    <div class="container confort">
    <div class="row row-and row-confort">
        <div class="col-md-6 confort-left">
            <div class="content-confort-left">
            <div class="bg-confort-right" style="background: url({{c['field_image1']['image'].url}}) no-repeat, url({{c['field_image']['image'].url}}) no-repeat;height: 100%;background-position: right bottom, bottom left;">
            </div>
            </div>
        </div>
        <div class="col-md-6 confort-right">
        <div class="content-confort-right">
            <h2 class="display-5 fw-normal sub-title">{{c.field_title}}</h2>
            <h1 class="title">{{c.field_subtitle}}</h1>
            <p>
            {{c['body'][0].value|replace({"<p>": "", '</p>': ""})}}
            </p>
            <p class="no-padding no-margin">
            <a class="btn night" href="{{base_url()}}{{c['field_link1'].url}}">{{c['field_link1'].title}}</a>
            </p>
        </div>
        </div>
    </div>
    </div>

{% endblock %}