{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

{% set item_name = 'block--staydirect-template-2-header-full.html' %} 
{% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
{% set css = include(path_css) %} 
{{render_css(css,'block__staydirect_template_2_header_full')}}

{% set c = block_parser(content) %}
{% set menu1 = simplify_menu(c.field_menu1) %}
{% set menu1_length = menu1|length %}
{% set links= c['field_link'] %}

<header class="header-sticky">
    <div class="wrapper--resp">
    <div class="container-header--resp">
        <div class="content-header-left--resp">
        <div class="logo--resp">
            <h1>
            <a href="index.html">{{c.field_text}}</a>
            <div class="rating--resp" style="display: none;">
                <div class="stars">
                <i class="fa fa-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>
                </i>
            
                <i class="fa fa-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>
                </i>
                
                <i class="fa fa-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>
                </i>

                <i class="fa fa-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>
                </i>

                <i class="fa fa-star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16"> <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/> </svg>
                </i>

                </div>
            </div>
            </h1>
            
        </div>
        </div>
        <div class="content-header-right--resp">
            <div class="menu-main--resp">
            <ul>
                {% for item in menu1.menu_tree %}
                    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
                {% endfor %}
            </ul>
            </div>
            <div class="menu-btn--resp">
            <ul>
                <li>
                    <a href="{{c['field_link'].url}}" class="btn--resp night">{{c['field_link'].title}}</a>
                </li>
            </ul>
            </div>
        </div>
        <div class="humberger-menu icon-menu-mobile">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45" fill="none">
            <path d="M11.25 15H33.75M11.25 22.5H33.75M11.25 30H33.75"  stroke-width="3.75" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </div>
    </div>

    <div class="container-menu-resp  menu-mobile-effet">
        <ul class="content-menu-mobile">
            {% for item in menu1.menu_tree %}
                <li><a href="{{ item.url }}">{{ item.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </div>
</header>
<script>
if( document.body.contains(  document.querySelector(".humberger-menu") ) ) {
    document.querySelector(".humberger-menu ").onclick = () => {
        document.querySelector(".menu-mobile-effet").classList.toggle("show");
    }
}
</script>
<script>
/* header */
if( document.body.contains(  document.querySelector(".header-sticky") ) ) {
    window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;
        if(currentScroll >= "300") {
            document.querySelector(".header-sticky").style.cssText =  `
                display: block; 
                position: fixed;
                top: 35px;
                left: 0;
                right: 0;
                transform: translate(0px, -35px);
                transition: all 300ms ease-in;
                z-index: 100
            `;
            document.querySelector(".header-sticky").classList.add("shawdow")
        }else {
            document.querySelector(".header-sticky").style.cssText = `
                position: relative;
                transform: translate(0px, 1px);
                transition: all 500ms ease-in;
            `;
            document.querySelector(".header-sticky").classList.remove("shawdow")
        }
    })
    document.querySelector(".icon-menu-mobile").onclick = () => {
        document.querySelector(".menu-mobile-effet").classList.toggle("show");
    }
}

/*end header*/
</script>

{% endblock %}
