{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

{% set item_name = 'block--staydirect-template-2-review-user-full.html' %} 
{% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
{% set css = include(path_css) %} 
{{render_css(css,'block__staydirect_template_2_review_user_full')}}

{% set c = block_parser(content) %}
{% set paragraphs = c['field_paragraphs'] %}
{% set paragraphs_length = paragraphs|length %}

<div class="section testimonial" style="position: relative;">
<div class="container">
  <div class="content-testimonial">
    <h2 class="display-5 fw-normal sub-title-spec">{{c.field_title}}</h2>
    <h1 class="title">{{c.field_subtitle}}</h1>

    <div class="btn-slider desk">
      <div class="left i fa-solid fa-angle-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path d="M14.1125 15.0001L18.5375 10.5751C18.7703 10.3409 18.901 10.0241 18.901 9.69387C18.901 9.36364 18.7703 9.04682 18.5375 8.81262C18.4213 8.69546 18.2831 8.60247 18.1307 8.539C17.9784 8.47554 17.815 8.44287 17.65 8.44287C17.485 8.44287 17.3216 8.47554 17.1693 8.539C17.017 8.60247 16.8787 8.69546 16.7625 8.81262L11.4625 14.1126C11.3454 14.2288 11.2524 14.3671 11.1889 14.5194C11.1254 14.6717 11.0928 14.8351 11.0928 15.0001C11.0928 15.1651 11.1254 15.3285 11.1889 15.4808C11.2524 15.6332 11.3454 15.7714 11.4625 15.8876L16.7625 21.2501C16.8793 21.366 17.0178 21.4576 17.1701 21.5198C17.3224 21.582 17.4855 21.6136 17.65 21.6126C17.8145 21.6136 17.9776 21.582 18.1299 21.5198C18.2822 21.4576 18.4207 21.366 18.5375 21.2501C18.7703 21.0159 18.901 20.6991 18.901 20.3689C18.901 20.0386 18.7703 19.7218 18.5375 19.4876L14.1125 15.0001Z" fill="white"/>
        </svg>
      </div>
      <div class="right i fa-solid fa-angle-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path d="M15.8875 15.0001L11.4625 10.5751C11.2297 10.3409 11.099 10.0241 11.099 9.69387C11.099 9.36364 11.2297 9.04682 11.4625 8.81262C11.5787 8.69546 11.7169 8.60247 11.8693 8.539C12.0216 8.47554 12.185 8.44287 12.35 8.44287C12.515 8.44287 12.6784 8.47554 12.8307 8.539C12.983 8.60247 13.1213 8.69546 13.2375 8.81262L18.5375 14.1126C18.6546 14.2288 18.7476 14.3671 18.8111 14.5194C18.8746 14.6717 18.9072 14.8351 18.9072 15.0001C18.9072 15.1651 18.8746 15.3285 18.8111 15.4808C18.7476 15.6332 18.6546 15.7714 18.5375 15.8876L13.2375 21.2501C13.1207 21.366 12.9822 21.4576 12.8299 21.5198C12.6776 21.582 12.5145 21.6136 12.35 21.6126C12.1855 21.6136 12.0224 21.582 11.8701 21.5198C11.7178 21.4576 11.5793 21.366 11.4625 21.2501C11.2297 21.0159 11.099 20.6991 11.099 20.3689C11.099 20.0386 11.2297 19.7218 11.4625 19.4876L15.8875 15.0001Z" fill="white"/>
        </svg>
      </div>
    </div>  
    <div class="btn-slider tab">
      <div class="left i fa-solid fa-angle-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path d="M14.1125 15.0001L18.5375 10.5751C18.7703 10.3409 18.901 10.0241 18.901 9.69387C18.901 9.36364 18.7703 9.04682 18.5375 8.81262C18.4213 8.69546 18.2831 8.60247 18.1307 8.539C17.9784 8.47554 17.815 8.44287 17.65 8.44287C17.485 8.44287 17.3216 8.47554 17.1693 8.539C17.017 8.60247 16.8787 8.69546 16.7625 8.81262L11.4625 14.1126C11.3454 14.2288 11.2524 14.3671 11.1889 14.5194C11.1254 14.6717 11.0928 14.8351 11.0928 15.0001C11.0928 15.1651 11.1254 15.3285 11.1889 15.4808C11.2524 15.6332 11.3454 15.7714 11.4625 15.8876L16.7625 21.2501C16.8793 21.366 17.0178 21.4576 17.1701 21.5198C17.3224 21.582 17.4855 21.6136 17.65 21.6126C17.8145 21.6136 17.9776 21.582 18.1299 21.5198C18.2822 21.4576 18.4207 21.366 18.5375 21.2501C18.7703 21.0159 18.901 20.6991 18.901 20.3689C18.901 20.0386 18.7703 19.7218 18.5375 19.4876L14.1125 15.0001Z" fill="white"/>
        </svg>
      </div>
      <div class="right i fa-solid fa-angle-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path d="M15.8875 15.0001L11.4625 10.5751C11.2297 10.3409 11.099 10.0241 11.099 9.69387C11.099 9.36364 11.2297 9.04682 11.4625 8.81262C11.5787 8.69546 11.7169 8.60247 11.8693 8.539C12.0216 8.47554 12.185 8.44287 12.35 8.44287C12.515 8.44287 12.6784 8.47554 12.8307 8.539C12.983 8.60247 13.1213 8.69546 13.2375 8.81262L18.5375 14.1126C18.6546 14.2288 18.7476 14.3671 18.8111 14.5194C18.8746 14.6717 18.9072 14.8351 18.9072 15.0001C18.9072 15.1651 18.8746 15.3285 18.8111 15.4808C18.7476 15.6332 18.6546 15.7714 18.5375 15.8876L13.2375 21.2501C13.1207 21.366 12.9822 21.4576 12.8299 21.5198C12.6776 21.582 12.5145 21.6136 12.35 21.6126C12.1855 21.6136 12.0224 21.582 11.8701 21.5198C11.7178 21.4576 11.5793 21.366 11.4625 21.2501C11.2297 21.0159 11.099 20.6991 11.099 20.3689C11.099 20.0386 11.2297 19.7218 11.4625 19.4876L15.8875 15.0001Z" fill="white"/>
        </svg>
      </div>
    </div>
    <div class="btn-slider mob">
      <div class="left i fa-solid fa-angle-left">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path d="M14.1125 15.0001L18.5375 10.5751C18.7703 10.3409 18.901 10.0241 18.901 9.69387C18.901 9.36364 18.7703 9.04682 18.5375 8.81262C18.4213 8.69546 18.2831 8.60247 18.1307 8.539C17.9784 8.47554 17.815 8.44287 17.65 8.44287C17.485 8.44287 17.3216 8.47554 17.1693 8.539C17.017 8.60247 16.8787 8.69546 16.7625 8.81262L11.4625 14.1126C11.3454 14.2288 11.2524 14.3671 11.1889 14.5194C11.1254 14.6717 11.0928 14.8351 11.0928 15.0001C11.0928 15.1651 11.1254 15.3285 11.1889 15.4808C11.2524 15.6332 11.3454 15.7714 11.4625 15.8876L16.7625 21.2501C16.8793 21.366 17.0178 21.4576 17.1701 21.5198C17.3224 21.582 17.4855 21.6136 17.65 21.6126C17.8145 21.6136 17.9776 21.582 18.1299 21.5198C18.2822 21.4576 18.4207 21.366 18.5375 21.2501C18.7703 21.0159 18.901 20.6991 18.901 20.3689C18.901 20.0386 18.7703 19.7218 18.5375 19.4876L14.1125 15.0001Z" fill="white"/>
        </svg>
      </div>
      <div class="right i fa-solid fa-angle-right">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
          <path d="M15.8875 15.0001L11.4625 10.5751C11.2297 10.3409 11.099 10.0241 11.099 9.69387C11.099 9.36364 11.2297 9.04682 11.4625 8.81262C11.5787 8.69546 11.7169 8.60247 11.8693 8.539C12.0216 8.47554 12.185 8.44287 12.35 8.44287C12.515 8.44287 12.6784 8.47554 12.8307 8.539C12.983 8.60247 13.1213 8.69546 13.2375 8.81262L18.5375 14.1126C18.6546 14.2288 18.7476 14.3671 18.8111 14.5194C18.8746 14.6717 18.9072 14.8351 18.9072 15.0001C18.9072 15.1651 18.8746 15.3285 18.8111 15.4808C18.7476 15.6332 18.6546 15.7714 18.5375 15.8876L13.2375 21.2501C13.1207 21.366 12.9822 21.4576 12.8299 21.5198C12.6776 21.582 12.5145 21.6136 12.35 21.6126C12.1855 21.6136 12.0224 21.582 11.8701 21.5198C11.7178 21.4576 11.5793 21.366 11.4625 21.2501C11.2297 21.0159 11.099 20.6991 11.099 20.3689C11.099 20.0386 11.2297 19.7218 11.4625 19.4876L15.8875 15.0001Z" fill="white"/>
        </svg>
      </div>
    </div>

    <div class="body-slider slider-desk">
      <div class="swiper swiper-desk">
        <div class="swiper-wrapper">
          {% for size in 0 .. (paragraphs_length - 1) %}
            <div class="swiper-slide">
              <div class="content-slider">
                <p>
                  “  {{paragraphs[size].field_description|replace({"<p>": "", '</p>': ""})}} “ 
                </p>
                <div class="say">
                  <div style="width: 70px; height: 70px; border-radius: 50%; background: #D9D9D9;"></div>
                  <div style="margin-top: 8px;">
                      <span class="name">{{paragraphs[size].field_text1}}</span><br>
                      <span class="addr">{{paragraphs[size].field_text}}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %} 
        </div>
      </div>
    </div>
    <div class="body-slider slider-tab">
      <div class="swiper swiper-tab">
        <div class="swiper-wrapper">
          {% for size in 0 .. (paragraphs_length - 1) %}
          <div class="swiper-slide">
            <div class="content-slider">
              <p>
                “ {{paragraphs[size].field_description|replace({"<p>": "", '</p>': ""})}} “ 
              </p>
              <div class="say">
                <div style="width: 70px; height: 70px; border-radius: 50%; background: #D9D9D9;"></div>
                <div style="margin-top: 8px;">
                    <span class="name">{{paragraphs[size].field_text1}}</span><br>
                    <span class="addr">{{paragraphs[size].field_text}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
      </div>
    </div>
    <div class="body-slider slider-mob">
      <div class="swiper swiper-mob">
        <div class="swiper-wrapper">
          {% for size in 0 .. (paragraphs_length - 1) %}
          <div class="swiper-slide">
            <div class="content-slider">
              <p>
                “ {{paragraphs[size].field_description|replace({"<p>": "", '</p>': ""})}} “ 
              </p>
              <div class="say">
                <div style="width: 70px; height: 70px; border-radius: 50%; background: #D9D9D9;"></div>
                <div style="margin-top: 8px;">
                    <span class="name">{{paragraphs[size].field_text1}}</span><br>
                    <span class="addr">{{paragraphs[size].field_text}}</span>
                </div>
              </div>
            </div>
          </div>
          {% endfor %} 
        </div>
      </div>
    </div>
  </div>
</div>
<div class="dots dots-desk desk"></div>
<div class="dots dots-tab tab" style="height: 20px;  position: absolute; bottom: 0; left: 0; width: 100%;"></div>
<div class="dots dots-mob mob"></div>
</div> 


{% endblock %}