{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-footer-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_footer_full')}}

        <!-- bloc footer-->
    {% set c = block_parser(content) %}
    {% set menu3 = simplify_menu(c.field_menu_1) %}
    {% set paragraphs = c['field_paragraphs'] %}
    {% set paragraphs_length = paragraphs|length %}

    <footer>
        <div class="container-resp">

            <div style="width: 100%; overflow: hidden;">
                <svg xmlns="http://www.w3.org/2000/svg" height="2" viewBox="0 0 1202 2" fill="none">
                    <path d="M1 1H1201" stroke="#333333" stroke-opacity="0.11" stroke-linecap="round"/>
                </svg>
            </div>
        
            <div class="content-footer-resp">
                <div class="footer-left-resp">
                    <ul>
                        {% for item in menu3.menu_tree %}
                        <li>
                            <a href=" {{ item.url }}">  {{ item.text }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-right-resp">
                    <ul>
                        {% for size in 0 .. (paragraphs_length - 1) %}
                        <li>
                            <img src="{{paragraphs[size]['field_image1']['image'].url}}" alt="" class="auto" style="text-align: center;">
                        </li>
                        {% endfor %} 
                    </ul>
                </div>
            </div>

            <div class="footer-copyright" style="margin-top: -15px;">
                <p class="text-center">
                    {{ c['field_text1'] }}
                </p>
            </div>

        </div>
    </footer>
     <!-- end bloc footer-->

    <div id="nav-to-top-and" class="nav-to-top-and nav-to-top-resp active">
        <svg width="20" height="20" viewBox="-8.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <title>angle-double-top</title>
            <path d="M13.72 17.68c-0.2 0-0.44-0.080-0.6-0.24l-5.84-5.84-5.84 5.84c-0.32 0.32-0.84 0.32-1.2 0-0.32-0.32-0.32-0.84 0-1.2l6.44-6.44c0.32-0.32 0.88-0.32 1.2 0l6.44 6.44c0.32 0.32 0.32 0.84 0 1.2-0.16 0.16-0.4 0.24-0.6 0.24zM13.72 22.44c-0.2 0-0.44-0.080-0.6-0.24l-5.84-5.88-5.84 5.88c-0.32 0.32-0.84 0.32-1.2 0-0.32-0.32-0.32-0.84 0-1.2l6.44-6.44c0.32-0.32 0.88-0.32 1.2 0l6.44 6.44c0.32 0.32 0.32 0.84 0 1.2-0.16 0.16-0.4 0.24-0.6 0.24z"></path>
        </svg>
    </div>
   <script>
    if( document.body.contains(  document.getElementById("nav-to-top-and") ) ) {
       let nav_to_top =  document.querySelector("#nav-to-top-and");
       window.addEventListener('scroll', function() {
           if( window.pageYOffset >= 800 ) {
               nav_to_top.classList.add("active");
           }else {
               nav_to_top.classList.remove("active");
           }
       });
       nav_to_top.addEventListener("click", function(){
           document.documentElement.scrollTop = 0;
        })
    }
</script>

{% endblock %}