{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-footer-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_footer_full')}}

    <style>
                /*========= respo.css header =======*/
            
        @media screen and (max-width: 499.96px){ 
            .container-resp {
                min-width: 320px   !important;
                padding-left: 20px  !important;
                padding-right:20px  !important;
                margin: auto  !important;
            }
            .none-mob {
                display: none !important;
            }
        }
        @media (min-width: 499.98px) {
            .container-resp {
                max-width: 500px  !important;
                width: 100%   !important;
                padding-left: 20px   !important;
                padding-right: 20px   !important;
                margin: auto  !important;
            }
            .none-mob {
                display: none !important;
            }
        }
        @media (min-width: 539.98px) {
            .container-resp {
                max-width: 500px  !important;
                width: 100%   !important;
                padding-left: 0px   !important;
                padding-right: 0px   !important;
                margin: auto  !important;
            }
            .none-tab {
                display: none !important;
            }
        }
        @media (min-width: 767.98px) {
            .container-resp {
                max-width: 768px  !important;
                width: 100%   !important;
                padding-left: 40px   !important;
                padding-right: 40px   !important;
                margin: auto  !important;
            }
            .none-tab {
                display: none !important;
            }
            .none-desk {
                display: block !important;
            }
        }
        @media (min-width: 847.98px) {
            .container-resp {
                max-width: 769px  !important;
                width: 100%   !important;
                padding-left: 40px   !important;
                padding-right: 40px   !important;
                margin: auto  !important;
            }
            .none-tab {
                display: block !important;
            }
            .none-mob {
                display: block !important;
            }
            .none-desk {
                display: none !important;
            }
        }
        @media (min-width: 991.98px) {
            .container-resp {
                max-width: 992px  !important;
                width: 100%   !important;
                padding-left: 60px   !important;
                padding-right: 60px   !important;
                margin: auto  !important;
            }
            .none-desk {
                display: none !important;
            }
        }
        @media (min-width: 1111.98px) {
            .container-resp {
                max-width: 992px   !important;
                width: 100%   !important;
                padding-left: 0px   !important;
                padding-right: 0px   !important;
                margin: auto  !important;
            }
            .none-desk {
                display: none !important;
            }
        }
        @media (min-width: 1199.98px) {
            .container-resp {
                max-width: 1200px   !important;
                width: 100%   !important;
                padding-left: 60px   !important;
                padding-right: 60px   !important;
                margin: auto  !important;
            }
            .none-desk {
                display: none !important;
            }
        }
        @media (min-width: 1359.98px) {
            .container-resp {
                max-width: 1200px   !important;
                width: 100%   !important;
                padding-left: 0   !important;
                padding-right: 0   !important;
                height: auto  !important;
                margin: auto  !important;
            }
            .none-desk {
                display: none !important;
            }
        }
    /* ============= end respo.css header ================  */

    footer {
        margin-bottom: 45px !important;
        width: 100% !important;
        overflow: hidden !important;
    }
    footer .container-resp {
        padding-bottom: 45px !important;
        overflow: hidden !important;
    }
    footer svg {
        stroke-width: 1px !important;
        stroke: rgba(51, 51, 51, 0.11) !important;
        margin-top: 76px !important;
    }
    footer .content-footer-resp {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        flex-direction: row !important;
        margin-top: 38px !important;
        margin-bottom: 45px !important;
    }
    footer .footer-left-resp ul{
        gap: 30px !important;
        display: flex !important;
        align-items: flex-start !important;
    }
    footer .footer-left-resp ul li, footer .footer-left-resp ul li a {
        color: rgba(51, 51, 51, 0.60) !important;
        text-align: center !important;
        font-family: "Kanit" !important;
        font-size: 20px !important;
        font-style: normal !important;
        font-weight: 400 !important;
        line-height: 150% !important; /* 30px */
        text-decoration: none !important;
    }
    footer .footer-right-resp ul {
        display: flex !important;
        align-items: flex-start !important;
        gap: 20px !important;
    }
    footer .footer-right-resp ul li {
        width: 50px !important;
        height: 50px !important;
        background: rgba(217, 217, 217, 0.26) !important;
        border:   rgba(51, 51, 51, 0.30) 1px solid !important;
        border-radius: 50% !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .footer-right-resp li img {
        width: 25px !important;
        height: 25px !important;
    }
    @media screen and (max-width: 499.96px){ 
        footer .content-footer-resp {
            flex-direction: column !important;
        }
        footer .footer-left-resp {
            display: none !important;
        }
        footer svg {
            margin-top: 70px !important;
        }
        footer .content-footer-resp {
            justify-content: center !important;
            align-items: center !important;
            flex-direction: row !important;
            margin-top: 33px !important;
            margin-bottom: 45px !important;
        }
        footer .footer-right-resp ul {
            align-items: center !important;
        }
        footer .footer-right-resp {

        }
        footer {
            margin-bottom: 0px !important;
        }
        footer .container-resp {
            padding-bottom: 0!important;
        }
    }
    @media (min-width: 499.98px) {
        footer .content-footer-resp {
            flex-direction: column !important;
        }
        footer .footer-left-resp {
            display: none !important;
        }
        footer svg {
            margin-top: 70px !important;
            width: 100% !important;
        }
        footer .content-footer-resp {
            justify-content: center !important;
            align-items: center !important;
            flex-direction: row !important;
            margin-top: 33px !important;
            margin-bottom: 45px !important;
        }
        footer .footer-right-resp ul {
            align-items: center !important;
        }
        footer .footer-right-resp {

        }
        footer {
            margin-bottom: 0px !important;
        }
        footer .container-resp {
            padding-bottom: 0!important;
        }

    }
    
    @media (min-width: 539.98px) {
        footer .content-footer-resp {
            flex-direction: column !important;
            height: 124px !important;
        }
        footer .footer-left-resp {
            display: block !important;
        }
        footer .content-footer-resp {
            flex-direction: column !important;
            height: 124px !important;
        }
        footer svg {
            margin-top: 60px !important;
        }
        footer .content-footer-resp {
            margin-top: 43px !important;
            margin-bottom: 0 !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-direction: row !important;
        }
        footer .container-resp {
            padding-bottom: 52px !important;
        }
    }
    @media (min-width: 767.98px) {
        footer .content-footer-resp {
            flex-direction: column !important;
            height: 124px !important;
        }
        footer svg {
            margin-top: 60px !important;
        }
        footer .content-footer-resp {
            margin-top: 43px !important;
            margin-bottom: 0 !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-direction: row !important;
        }
        footer .container-resp {
            padding-bottom: 52px !important;
        }
    }
    @media (min-width: 847.98px) {
        footer .content-footer-resp {
            flex-direction: column !important;
            height: 124px !important;
        }
        footer svg {
            margin-top: 60px !important;
        }
        footer .content-footer-resp {
            margin-top: 43px !important;
            margin-bottom: 0 !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-direction: row !important;
        }
        footer .container-resp {
            padding-bottom: 52px !important;
        }
    }
    @media (min-width: 991.98px) {
        footer .content-footer-resp {
            flex-direction: row !important;
            height: 50px !important;
        }
        footer svg {
            margin-top: 76px !important;
        }
        footer .content-footer-resp {
            margin-top: 38px !important;
            margin-bottom: 45px !important;
            justify-content: space-between !important;
            align-items: center !important;
            flex-direction: row !important;
        }
        footer .container-resp {
            padding-bottom: 45px !important;
        }
    }

    .nav-to-top-resp {
        border-radius: 5px;
        border: 1.6px solid var(--bleu-color);
        /* background: rgba(217, 217, 217, 0.26); */
        background: var(--bleu-color);
        width: 50px;
        height: 50px;
        flex-shrink: 0;
        text-align: center;
        position: fixed;
        bottom: 50px;
        right: 20px;
        opacity: 0;
        visibility: hidden;
        transition: all 200ms linear, margin-right 0ms;
        cursor: pointer;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--Dgrad-bleu, linear-gradient(138deg, rgba(98, 146, 158, 0.80) -15.04%, #62929E 104.44%)) !important;
    }
    .nav-to-top-resp svg path {
        /*fill: var(--bleu-color);*/
        fill: #fff; 
    }
    .nav-to-top-resp.active {
        opacity: 1;
        visibility: visible;
    }
    </style>
    
    <!-- bloc footer-->
    {% set c = block_parser(content) %}
    {% set menu3 = simplify_menu(c.field_menu_1) %}
    {% set paragraphs = c['field_paragraphs'] %}
    {% set paragraphs_length = paragraphs|length %}

     <footer>
        <div class="container-resp">

            <div style="width: 100%; overflow: hidden;">
                <svg xmlns="http://www.w3.org/2000/svg" height="2" viewBox="0 0 1202 2" fill="none">
                    <path d="M1 1H1201" stroke="#333333" stroke-opacity="0.11" stroke-linecap="round"/>
                </svg>
            </div>
        
            <div class="content-footer-resp">
                <div class="footer-left-resp">
                    <ul>
                        {% for item in menu3.menu_tree %}
                        <li>
                            <a href=" {{ item.url }}">  {{ item.text }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-right-resp">
                    <ul>
                        {% for size in 0 .. (paragraphs_length - 1) %}
                        <li>
                            <img src="{{paragraphs[size]['field_image1']['image'].url}}" alt="" class="auto" style="text-align: center;">
                        </li>
                        {% endfor %} 
                    </ul>
                </div>
            </div>

            <div class="footer-copyright" style="margin-top: -15px;">
                <p class="text-center">
                    {{ c['field_text1'] }}
                </p>
            </div>

        </div>
    </footer>

        <div id="nav-to-top-and" class="nav-to-top-and nav-to-top-resp active">
        <svg width="20" height="20" viewBox="-8.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
            <title>angle-double-top</title>
            <path d="M13.72 17.68c-0.2 0-0.44-0.080-0.6-0.24l-5.84-5.84-5.84 5.84c-0.32 0.32-0.84 0.32-1.2 0-0.32-0.32-0.32-0.84 0-1.2l6.44-6.44c0.32-0.32 0.88-0.32 1.2 0l6.44 6.44c0.32 0.32 0.32 0.84 0 1.2-0.16 0.16-0.4 0.24-0.6 0.24zM13.72 22.44c-0.2 0-0.44-0.080-0.6-0.24l-5.84-5.88-5.84 5.88c-0.32 0.32-0.84 0.32-1.2 0-0.32-0.32-0.32-0.84 0-1.2l6.44-6.44c0.32-0.32 0.88-0.32 1.2 0l6.44 6.44c0.32 0.32 0.32 0.84 0 1.2-0.16 0.16-0.4 0.24-0.6 0.24z"></path>
        </svg>
    </div>
   <script>
    if( document.body.contains(  document.getElementById("nav-to-top-and") ) ) {
       let nav_to_top =  document.querySelector("#nav-to-top-and");
       window.addEventListener('scroll', function() {
           if( window.pageYOffset >= 800 ) {
               nav_to_top.classList.add("active");
           }else {
               nav_to_top.classList.remove("active");
           }
       });
       nav_to_top.addEventListener("click", function(){
           document.documentElement.scrollTop = 0;
        })
    }
</script

{% endblock %}
