{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-bloc-payement-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_bloc-payement_full')}}

   {% set params = get_parameter() %}
   {% if params.site_id %}
        {% set site = node_parser(params.site_id) %}
         {% set site_user = user_parser(site["uid"]["user"]) %}
   {% endif %}   
  
    <main class="container">
        <form action="/payment/checkoutstaydirect" method="get">
            <!-- Product Details and Payment -->
            <div class="row col-lg-12">
               <p class="h2 text-success">web site information </p>  
               <input type="hidden"  class="form-control" name="site_id_ready" value="{{params.site_id}}"   />
                <p>Website Name : {{site.title}}</p>
                 <p>Website : {{site.title}}</p>
                <p class="text-muted">Profile : {{site.field_profile}}</p>
                <p> theme : {{site.st_theme}}</p>
                <p> subdomain : {{site.field_st_domain_name}}</p>

                <p class="h2 text-success">User information </p>  

                <p class="h4 text-success">Mail </p>  
              
                <input type="text"  class="form-control" name="mail" value="{{site_user.mail}} "  required />
      
                <p class="h4 text-success">Fisrt name </p>  
                <input type="text"  class="form-control" name="field_first_name" value="{{site_user.field_first_name}} "   />

                <p class="h4 text-success">Last name </p>  
                <input type="text"  class="form-control" name="field_last_name" value="{{site_user.field_last_name}} "   />

                <p class="h4 text-success">Phone number </p>  
                <input type="text"  class="form-control" name="field_phone" value="{{site_user.field_phone}} "  required />


                <p class="h4 text-success">Month </p>  
                <input type="text"  class="form-control" name="month" value="12"  required />

                <p class="h4 text-success">Price </p>
                <input type="text" class="form-control" name="price" value="45"  required />

                    <p class="h4 text-success">Notes </p>
                <textarea class="form-control" name="notes" value="mynotes" /></textarea>
                <!-- Payment Form -->
               <br/><br/>

              <button type="submit" class="btn btn-primary">Pay Now</button>
       </form>
</main>
        
  




{% endblock %}