{{ attach_library('claro/global-styling') }}
{{ attach_library('staydirect_install/global-styling') }}
{{ attach_library('staydirect/maintenance') }}
{% set css = 
     '.main-content{margin-top: -15px;}
	  .body-content-order-form  #image-wrapper{border-radius: 30px;padding: 15px;background: rgba(217, 217, 217, 0.17);}
      .body-content-order-form .logo { height:auto!important }
	  .body-content-order-form .field--name-st-domain-name, 
	  .body-content-order-form .field--name-site-name{display:none!important}
	  .body-content-order-form .field--name-st-domain-name{display:none!important}
      .body-content-order-form .vertical-tabs,
	  .body-content-order-form .js-form-type-vertical-tabs{display:none!important}
	  .body-content-order-form .node-site-form input,
	  .body-content-order-form .node-site-form textarea,
	  .body-content-order-form .node-site-form select{display:block;margin-top:10px}
	  .body-content-order-form .node-site-form  .description{font-size: 13px;font-style: italic;font-family:Kanit;padding-top: 5px;font-weight: 200;}
	  .body-content-order-form .node-site-form .form-item {background: rgba(217, 217, 217, 0.17);padding: 30px;border-radius: 30px;}
    ' 
%}
{{render_css(css,'process_order_website')}}

<div class="body-content-order-form">
	<div class="header-step">
		<div class="container container-and">
			<div class="row row-and">
				<div class="col-6 themed-grid-col">
					<div class="top-left">
						<a href="#">
							<img src="/themes/custom/staydirect_install/logo.png" alt="" class="logo">
						</a>
					</div>
				</div>
				<div class="col-6 themed-grid-col text-right">
					<div class="top-right">
						<div class="step">
							<a href="#">Step 1</a>
						</div>
						<div class="ttl-step">Information</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container main-step">
		<div class="row p-4">
			<div class="col-4" role="complementary">
				<ol class="task-list">
					<li class="is-active">
						Web site Information
						<span class="visually-hidden">
							(active)</span>
					</li>
					<li >
						Web site profile
					</li>
					<li class="hidden-task">
						Verify requirements
					</li>
					<li>
						Conditions and terms
					</li>
					<li class="hidden-task">
						Web  
					</li>
					<li class="hidden-task">
						Configure site
					</li>
				</ol>
			</div>
			<div role="main" class="main-content col-8 px-5">
				{{ render_form_entity('node','site') }}
			</div>

		</div>
	</div>
</div>
{# /.layout-container #}
