{% extends get_module_path("templating") ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}
{% set path_css = directory ~ "/templates/templating/css/block--staydirect-hero-1-full.html.css" %}
{% set css = include(path_css) %}
{{render_css(css,"block--staydirect-hero-1-full_html_twig")}}
<!-- done -->
<!-- bloc hero 1-->
<!-- done -->
<!-- bloc hero 1-->
{% set c = block_parser(content) %}
{% set paragraphs = c['field_paragraph3'] %}
{% set paragraphs_length = paragraphs|length %}

  <style>
      /*========= respo.css header =======*/

      @media screen and (max-width: 499.96px){ 
          .container-resp {
              min-width: 320px   !important;
              padding-left: 20px  !important;
              padding-right:20px  !important;
              margin: auto  !important;
          }
          .none-mob {
              display: none !important;
          }
      }
      @media (min-width: 499.98px) {
          .container-resp {
              max-width: 500px  !important;
              width: 100%   !important;
              padding-left: 20px   !important;
              padding-right: 20px   !important;
              margin: auto  !important;
          }
          .none-mob {
              display: none !important;
          }
      }
      @media (min-width: 539.98px) {
          .container-resp {
              max-width: 500px  !important;
              width: 100%   !important;
              padding-left: 0px   !important;
              padding-right: 0px   !important;
              margin: auto  !important;
          }
          .none-tab {
              display: none !important;
          }
      }
      @media (min-width: 767.98px) {
          .container-resp {
              max-width: 768px  !important;
              width: 100%   !important;
              padding-left: 40px   !important;
              padding-right: 40px   !important;
              margin: auto  !important;
          }
          .none-tab {
              display: none !important;
          }
          .none-desk {
              display: block !important;
          }
      }
      @media (min-width: 847.98px) {
          .container-resp {
              max-width: 769px  !important;
              width: 100%   !important;
              padding-left: 40px   !important;
              padding-right: 40px   !important;
              margin: auto  !important;
          }
          .none-tab {
              display: block !important;
          }
          .none-mob {
              display: block !important;
          }
          .none-desk {
              display: none !important;
          }
      }
      @media (min-width: 991.98px) {
          .container-resp {
              max-width: 992px  !important;
              width: 100%   !important;
              padding-left: 60px   !important;
              padding-right: 60px   !important;
              margin: auto  !important;
          }
          .none-desk {
              display: none !important;
          }
      }
      @media (min-width: 1111.98px) {
          .container-resp {
              max-width: 992px   !important;
              width: 100%   !important;
              padding-left: 0px   !important;
              padding-right: 0px   !important;
              margin: auto  !important;
          }
          .none-desk {
              display: none !important;
          }
      }
      @media (min-width: 1199.98px) {
          .container-resp {
              max-width: 1200px   !important;
              width: 100%   !important;
              padding-left: 60px   !important;
              padding-right: 60px   !important;
              margin: auto  !important;
          }
          .none-desk {
              display: none !important;
          }
      }
      @media (min-width: 1359.98px) {
          .container-resp {
              max-width: 1200px   !important;
              width: 100%   !important;
              padding-left: 0   !important;
              padding-right: 0   !important;
              height: auto  !important;
              margin: auto  !important;
          }
          .none-desk {
              display: none !important;
          }
      }
  /* ============= end respo.css header ================  */
  </style> 
  <style>
      .hero--1-resp {
          height: 124px  !important;
      }
      .hero-1-resp .container-resp {
      }
      .hero-1-resp  .content-hero-1-resp-head {
          text-align: center !important;
          max-width: 742px !important;
          margin: auto  !important;
          margin-bottom: 98px  !important;
      }
      .hero-1-resp  .content-hero-1-resp-head h4 {
          color: rgba(51, 51, 51, 0.60) !important;
          text-align: center !important;
          font-family: "Kanit" !important;
          font-size: 20px !important;
          font-style: normal !important;
          font-weight: 300 !important;
          line-height: 150% !important; /* 30px */
          letter-spacing: 3.2px !important;
          text-transform: uppercase !important;
      }   
      .hero-1-resp  .content-hero-1-resp-head h3 {
          color: #333 !important;
          text-align: center !important;
          font-family: "Vastine" !important;
          font-size: 50px !important;
          font-style: normal !important;
          font-weight: 400 !important;
          line-height: 150% !important; /* 75px */
          margin-top: 22px  !important;
      }
      .hero-1-resp .content-hero-1-resp {
          display: flex !important;
          justify-content: space-between !important;
          align-items: center !important;
          flex-wrap: wrap !important;
          width: 100% !important;
          max-width: 992px !important;
          margin: auto  !important;
      }
      .hero-1-resp .step-resp {
          max-width: 286px !important;
          text-align: center !important;
      }
      .hero-1-resp .content-step-resp {
          text-align: center !important;
          display: flex !important;
          justify-content: center !important;
          flex-direction: column !important;
          align-items: center !important;
      }
      .hero-1-resp .icon-step-resp {
          width: 100px !important;
          height: 100px !important;
          border-radius: 20px !important;
          border: 1px solid rgba(51, 51, 51, 0.30) !important;
          background: rgba(217, 217, 217, 0.26) !important;
          display: flex !important;
          justify-content: center !important;
          align-items: center !important;
      }
      .hero-1-resp .icon-step-resp img {
          width: 50px !important;
          height: 50px !important;
          background: none !important;
      }
      .hero-1-resp .icon-step-resp.active img
      {
          background: none !important;
          opacity : 0.8 !important;
      }
      .hero-1-resp .icon-step-resp.active {
          background: linear-gradient(138deg, rgba(98, 146, 158, 0.80) -15.04%, #62929E 104.44%)  !important;
      }
      .hero-1-resp .content-hero-1-resp h5 {
          color: #333 !important;
          text-align: center !important;
          font-family: "Kanit" !important;
          font-size: 25px !important;
          font-style: normal !important;
          font-weight: 700 !important;
          line-height: 150% !important; /* 37.5px */
          margin-top: 31px  !important;
      }
      .hero-1-resp .content-hero-1-resp p {
          color: rgba(51, 51, 51, 0.40) !important;
          text-align: center !important;
          font-family: "Kanit" !important;
          font-size: 18px !important;
          font-style: normal !important;
          font-weight: 400 !important;
          line-height: 150% !important; /* 27px */
          margin-top: 10px  !important;
      }
      @media screen and (max-width: 499.96px){ 
          .hero-1-resp .content-hero-1-resp {
              flex-direction: column !important;
              gap: 110px !important;
          }

          .hero-1-resp  .content-hero-1-resp-head {
              margin-bottom: 51px  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h4 {
          font-size: 18px  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h3 {
              font-size: 22px  !important;
              margin-top: 22px  !important;
          }
      }
      @media (min-width: 499.98px) {
          .hero-1-resp .content-hero-1-resp {
              flex-direction: column !important;
              gap: 110px !important;
          }
          .hero-1-resp  .content-hero-1-resp-head {
              margin-bottom: 51px  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h4 {
          font-size: 18px  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h3 {
              font-size: 30px  !important;
              margin-top: 22px  !important;
          }
      }
      @media (min-width: 539.98px) {
          .hero-1-resp .content-hero-1-resp {
              flex-direction: column !important;
              gap: 110px !important;
          }

          .hero-1-resp  .content-hero-1-resp-head {
              margin-bottom: 87px  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h4 {
          font-size: 18px  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h3 {
              font-size: 30px  !important;
              margin-top: 22px  !important;
          }
      }
      @media (min-width: 767.98px) {
          .hero-1-resp .content-hero-1-resp {
              justify-content:center !important;
              gap: 70px !important;
              flex-direction: row !important;
          }

          .hero-1-resp  .content-hero-1-resp-head {
              max-width: 742px !important;
              margin-bottom: 98px  !important;
              width: 100% !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h4 {
              font-size: 20px  !important;
          }   
          .hero-1-resp  .content-hero-1-resp-head h3 {
              font-size: 48px  !important;
              margin-top: 22px  !important;
          }
      }
      @media (min-width: 991.98px) {
          .hero-1-resp .step-resp {
              max-width: 240px !important;
          }
          .hero-1-resp .content-hero-1-resp {
              justify-content:space-between !important;
              gap: 0  !important;
          }
          .hero-1-resp  .content-hero-1-resp-head h3 {
              font-size: 50px  !important;
              margin-top: 22px  !important;
          }
      }
      @media (min-width: 1111.98px) {
          .hero-1-resp .content-hero-1-resp {
              justify-content:space-between !important;
              gap: 0  !important;
          }
          .hero-1-resp .step-resp {
              max-width: 256px !important;
          }
      }
      @media (min-width: 1199.98px) {
          .hero-1-resp .content-hero-1-resp {
              justify-content:space-between !important;
              gap: auto  !important;
          }
          .hero-1-resp .step-resp {
              max-width: 286px !important;
          }
      }
      
      .step-2-resp.step-resp:nth-child(2) {
          margin-top: 1.8rem!important;
      }
  </style>
  <div class="hero--1-resp" id="simple-setup"></div>
  <section class="hero-1-resp">
      <div class="container-resp">
            <div class="content-hero-1-resp-head">
              <h4 class="title-resp">
                   {{c.field_title}}
              </h4>
              <h3 class="title-resp">
                  {{c.field_subtitle}}
              </h3>
            </div>
            <div class="content-hero-1-resp step">
                {% for key, size in 0 .. (paragraphs_length - 1) %}
                    {% if paragraphs[size].field_active %}
                        {% set active = "active" %}
                    {% else %}
                        {% set active = "" %}
                    {% endif %}
                    <div class="step-2-resp step-resp">
                        <div class="content-step-2-resp content-step-resp">
                            <div class="icon-step-resp {{active}}">
                                <!-- 
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none">
                                    <path d="M39.5834 9.375H10.4167C8.75908 9.375 7.16937 10.0335 5.99727 11.2056C4.82517 12.3777 4.16669 13.9674 4.16669 15.625V34.375C4.16669 36.0326 4.82517 37.6223 5.99727 38.7944C7.16937 39.9665 8.75908 40.625 10.4167 40.625H39.5834C41.241 40.625 42.8307 39.9665 44.0028 38.7944C45.1749 37.6223 45.8334 36.0326 45.8334 34.375V15.625C45.8334 13.9674 45.1749 12.3777 44.0028 11.2056C42.8307 10.0335 41.241 9.375 39.5834 9.375ZM41.6667 34.375C41.6667 34.9275 41.4472 35.4574 41.0565 35.8481C40.6658 36.2388 40.1359 36.4583 39.5834 36.4583H10.4167C9.86415 36.4583 9.33425 36.2388 8.94355 35.8481C8.55285 35.4574 8.33335 34.9275 8.33335 34.375V15.625C8.33335 15.0725 8.55285 14.5426 8.94355 14.1519C9.33425 13.7612 9.86415 13.5417 10.4167 13.5417H39.5834C40.1359 13.5417 40.6658 13.7612 41.0565 14.1519C41.4472 14.5426 41.6667 15.0725 41.6667 15.625V34.375ZM33.3334 21.875C32.2257 21.8828 31.1401 22.1847 30.1875 22.75C29.2386 22.1869 28.1575 21.8851 27.0541 21.8752C25.9507 21.8654 24.8644 22.1478 23.9055 22.6938C22.9466 23.2398 22.1494 24.0299 21.5949 24.9839C21.0403 25.9378 20.7482 27.0216 20.7482 28.125C20.7482 29.2284 21.0403 30.3122 21.5949 31.2661C22.1494 32.2201 22.9466 33.0102 23.9055 33.5562C24.8644 34.1022 25.9507 34.3846 27.0541 34.3747C28.1575 34.3649 29.2386 34.0631 30.1875 33.5C31.0163 33.9917 31.9475 34.2851 32.9084 34.3573C33.8693 34.4295 34.8339 34.2785 35.7269 33.9161C36.6198 33.5538 37.4168 32.9898 38.0556 32.2684C38.6945 31.547 39.1579 30.6876 39.4096 29.7574C39.6613 28.8273 39.6945 27.8515 39.5067 26.9063C39.3188 25.9612 38.9149 25.0723 38.3266 24.3091C37.7383 23.5459 36.9815 22.9291 36.1153 22.5068C35.2491 22.0846 34.297 21.8683 33.3334 21.875ZM27.4375 30.2083C27.3197 30.2184 27.2012 30.2184 27.0834 30.2083C26.5308 30.2083 26.0009 29.9888 25.6102 29.5981C25.2195 29.2074 25 28.6775 25 28.125C25 27.5725 25.2195 27.0426 25.6102 26.6519C26.0009 26.2612 26.5308 26.0417 27.0834 26.0417C27.2012 26.0316 27.3197 26.0316 27.4375 26.0417C26.9661 27.3333 26.9661 28.75 27.4375 30.0417V30.2083ZM33.3334 30.2083C32.9213 30.2083 32.5185 30.0861 32.1759 29.8572C31.8333 29.6283 31.5663 29.3029 31.4086 28.9223C31.2509 28.5416 31.2097 28.1227 31.2901 27.7186C31.3704 27.3144 31.5689 26.9432 31.8602 26.6519C32.1516 26.3605 32.5228 26.1621 32.9269 26.0817C33.331 26.0013 33.7499 26.0426 34.1306 26.2003C34.5113 26.3579 34.8367 26.625 35.0656 26.9676C35.2945 27.3102 35.4167 27.713 35.4167 28.125C35.4167 28.6775 35.1972 29.2074 34.8065 29.5981C34.4158 29.9888 33.8859 30.2083 33.3334 30.2083Z"/>
                                </svg>
                                -->
                                <img class="c67zf cmz8h c01lu icon-step"  src="{{paragraphs[size]['field_icon']['image'].url}}" style="background: none !important;"/>
                            </div>
                            <h5>
                                Step {{ key + 1 }} - {{paragraphs[size].field_title}}
                            </h5>
                            <p>
                                {{ paragraphs[size]['field_description'][0].value|replace({"<p>": "", '</p>': ""}) }}
                            </p>
                        </div>
                    </div>
                {% endfor %} 
          </div>
      </div>
  </section>
  <!-- End bloc hero 1-->
{% endblock %}