{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {{ attach_library('staydirect/maintenance') }}
    {{ attach_library('claro/global-styling') }}
    {{ attach_library('staydirect_install/global-styling') }}

    {% set item_name = 'block--staydirect-bloc-payement-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_bloc-payement_full')}}

   {% set params = get_parameter() %}
   {% if params.site_id %}
        {% set site = node_parser(params.site_id) %}
        {% set site_user = user_parser(site["uid"]["user"]) %}
   {% endif %}   

     
        <main class="main-step main-step-specification main-simple main-order main--step-rectf">
            <div class="container container-and">
                <div class="row ">
                    <div class="sidebar col-md-4 order-sm-first">
                        <div class="d-flex active">
                            <p class="mt-3 ms-3">User Information</p>
                        </div>
                        <div class="d-flex mt-2">
                            <p class="mt-4 ms-3">Website Profil</p>
                        </div>
                        <div class="d-flex mt-2">
                            <p class="mt-4 ms-3">Website Themes</p>
                        </div>
                        <div class="d-flex mt-2">
                            <p class="mt-4 ms-3">Conditions and Terms</p>
                        </div>
                        <div class="d-flex mt-2">
                            <p class="mt-4 ms-3">Build your website </p>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row form-payment">
                            <div class="col-md-12 col-lg-12 choosecontent">
                                    <form action="/payment/checkoutstaydirect" method="get">
        <!-- Product Details and Payment -->
   
        web site information 
        <input type="hidden"  class="form-control" name="site_id_ready" value="{{params.site_id}}"/>
        Website Name : {{site.title}}
        Website : {{site.title}}
        Profile : {{site.field_profile}}
        theme : {{site.st_theme}}
        subdomain : {{site.field_st_domain_name}}

        User information  

        Mail
        <input type="text"  class="form-control" name="mail" value="{{site_user.mail}} "  required />
    
        Fisrt name 
        <input type="text"  class="form-control" name="field_first_name" value="{{site_user.field_first_name}} "   />

        Last name
        <input type="text"  class="form-control" name="field_last_name" value="{{site_user.field_last_name}} "   />

        Phone number
        <input type="text"  class="form-control" name="field_phone" value="{{site_user.field_phone}} "  required />

        Month 
        <input type="text"  class="form-control" name="month" value="12"  required />

        Price
        <input type="text" class="form-control" name="price" value="45"  required />

        Notes
        <textarea class="form-control" name="notes" value="mynotes" /></textarea>
           
        <button type="submit" class="btn btn-primary">Pay Now</button>
        
    </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
                       
{% endblock %}