{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

<!-- Login && Register Tab-->
{{ attach_library('staydirect/bootstrap') }}
{% set c = block_parser(content) %}
{% set paragraphs = c['field_paragraph3'] %}
{% set paragraphs_length = paragraphs|length %}

{% if logged_in %}
   {% set t = redirect('/user') %} 
{% endif %}

<section id="log-reg-js" class="login-resp login-and log-reg-resp">
    <div class="container-form-resp container-form-resp-fluid">
        <div class="content-register-resp">
            <div class="left-register-resp">
                <div class="container-left-register-resp">
                    <div class="content-left-top-resp content-left-top-and">
                        <div>
                        <a href="{{base_url()}}">
                            <img src="{{c['field_image1']['image'].url}}" alt="">
                        </a>
                        </div>
                        <div class="content-top-header-and">
                            <h4>Register</h4>
                            <h5 class="subttl-form">Welcome back</h5>
                        </div>
                    </div>
                    <div class="content-left-bottom-resp">
                        <div class="container-form-left">
                            <div class="container-form-left-and">

                            
                                <div class="container-form-login-tab tab-content-left show">
                                    {{user_register()}}
                                </div>
                                <!-- end register -->
                                <div class="btn-tab-login-register-resp">
                                    <div class="tab_btn active tab_btn_login">
                                        Create new account
                                    </div>
                                    <a class="tab_btn tab_btn_signup" href="{{base_url()}}/login">
                                        <span style="color: rgba(51, 51, 51, 0.82);">Log in</span>
                                    </a>
                                </div>
                              

                            </div>
                        </div>
                        <div class="desc--forgt-passwd">
                            <a href="{{base_url()}}/password">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>

    

            <div class="right-register-resp">
                <div class="content-right-register-resp tab-content-right tab-content-right-login show" 
                    style="background: url({{c['field_media1']['image'].url}}); 
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: center center;
                            flex-wrap: wrap;
                            width: 100%;
                            height: 100%;
                    ">
                    
                </div>
            </div>
        </div>
    </div>
</section>
<script>
let form_logreg = document.getElementById("log-reg-js");
if( document.body.contains(form_logreg) )  {
    let js_formpass = document.querySelectorAll(".js-form-type-password");
    var inputs = document.querySelectorAll("#log-reg-js input[type='text'], #log-reg-js input[type='password'], #log-reg-js input[type='email']");
    let labels = document.querySelectorAll(".js-form-item label");
    let js_formpassinput = document.querySelectorAll(".js-form-type-password input");
    let tabs = document.querySelectorAll(".tab_btn");
    let tabs_content_left = document.querySelectorAll(".tab-content-left");
    let tabs_content_right = document.querySelectorAll(".tab-content-right");
    let container_btn_valid_tabs = document.querySelectorAll(".container-btn-valid-tab");

    js_formpass.forEach( function( js_formpas, index ){
        let divjscreate_password_resp = document.createElement("div");
        divjscreate_password_resp.className = "jscreate-password-resp";
        js_formpas.appendChild(divjscreate_password_resp);
        let img = document.createElement("img");
        img.className = "img-pass-no";
        img.setAttribute("src", "https://staydirect.cloud/sites/default/files/2023-10/cache_pass.png" );
        divjscreate_password_resp.appendChild(img);
    });

    let password_btns = document.querySelectorAll(".jscreate-password-resp");
    let img_pass = document.querySelectorAll(".img-pass-no");
    let js_formpass_show = document.querySelectorAll(".js-form-type-password.show input");
    password_btns.forEach( function( password_btn, index ){
        password_btn.addEventListener("click", function() {
            js_formpass[index].classList.toggle('show');
            let input_password_current = js_formpass[index].querySelector("input");
            let img_password_current = js_formpass[index].querySelector("img");
            console.log(input_password_current.type);
            if (input_password_current.type === "password") {
                input_password_current.type = "text";
                img_password_current.src = "https://staydirect.cloud/sites/default/files/2023-10/show.png";
            } else {
                input_password_current.type = "password";
                img_password_current.src = "https://staydirect.cloud/sites/default/files/2023-10/cache_pass.png";
            }
        })
    })
    document.addEventListener("DOMContentLoaded", function() {
        function setPlaceholder(selector, placeholder) {
            var element = document.querySelector(selector);
            if (element) {
                element.setAttribute('placeholder', placeholder);
            }
        }
    
        setPlaceholder('#log-reg-js #edit-name', 'username');
        setPlaceholder('#log-reg-js #edit-mail', 'email address');
    });
    

    inputs.forEach( (input,index) => {
        labels[index].style.cssText = `
            display:none !important;
        `;
    });

    
    let parent_form_login = document.querySelector(".container-form-login-tab form");
    let parent_form_register  = document.querySelector(".container-form-register-tab form");

    let container_btn_valide_login = document.querySelector(".container-btn-valid-login");
    let container_btn_valide_register = document.querySelector(".container-btn-valid-register");

    let login = document.querySelector(".container-form-login-tab .form-actions");
    let register = document.querySelector(".container-form-register-tab .form-actions");

    parent_form_register.insertBefore(container_btn_valide_register,register);
    parent_form_login.insertBefore(container_btn_valide_login,login);
    
}
</script>
<script>
    if( document.body.contains( document.querySelector("#log-reg-js form .std--useradmin.container--user-edit.container--user")) ) {
      document.querySelector("#log-reg-js form .std--useradmin.container--user-edit.container--user").classList.remove("container");
      document.querySelector("#log-reg-js form .std--useradmin.container--user-edit.container--user #user-info").classList.remove("col-lg-9")
      document.querySelector("#log-reg-js form.user-register-form.user-form .useradmin--sidebar-left.position-relative").classList.remove("position-relative");
    }
</script> 


{% endblock %}