{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'block--staydirect-xxx-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'block__staydirect_xxx_full')}}

<style>
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css");
.container--header {
    padding-top:30px;
    display: flex;
    justify-content: flex-end;
    padding-bottom:30px;
}
.container--header h1 {

}
.container--header h1 a {
    color: var(--bleumarine-color) !important;
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 30px !important;
}
.container--profile {
    padding-right: 50px;
    padding-bottom: 50px;
}
.container--profile .content--profile {
    width: 100%;
    background: #F1F0F0;
    background-position: center center;
    width: 152px;
    height: 152px;
    margin: auto;
    border-radius: 50%;
    margin-top: 29px;
    margin-bottom: 30px;
}
.content--profile {
    position: relative;
}
.content--profile .arrow {
    position: absolute;
    top: -21px;
    left: -31px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.content--profile .btn--add {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-image: linear-gradient(#ff8a00, #e52e71);
    position: absolute;
    top: 101px;
    right: -38px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details--content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.details--content p {
    margin-bottom:  0;
    display: inline-block;
    font-weight: bold;
} 
.details--content span {
    display: block;
}
.details--content span a {
    color: #666;
}
.details--profile {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 95px;
    margin: auto;
}
.container--spends {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.content--spend {
    background: #F6F8FA;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.content--spend p {
    margin-bottom: 0;
    padding: 10px 5px
}
.std--useradmin .useradmin--sidebar-left img {
    width: 35px;
    display: none !important;
}

.container--works {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
}
.content--work{
    text-align: center;
}

.mySwiper span {
    display: block;
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.content--right {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.std--useradmin {
    margin-top: 75px;
}

.std--useradmin .useradmin--sidebar-right img {
    display: inline-block !important;
}
.std--useradmin a {
    text-decoration: none !important;
}
.std--useradmin .logo {
    width: 250px;
    height: auto; 
    max-height: 115px; 
    margin-top: 0 !important;
}

@media (min-width: 991.98px) {
    .container--profile {
        padding-right: 0px;
        padding-bottom: 50px;
    }
    .container--profile .content--profile {
        width: 115px;
        height: 115px;
        border-radius: 50%;
        margin-top: 29px;
        margin-bottom: 30px;
        overflow: hidden;
    }
}

@media (min-width: 1199.98px) {
    .container--profile {
        padding-right: 50px;
        padding-bottom: 50px;
    }
    .container--profile .content--profile {
        width: 100%;
        width: 152px;
        height: 152px;
        border-radius: 50%;
        margin-top: 29px;
        margin-bottom: 30px;
    }
}

.container--user-edit div.js-form-item {
    margin-bottom: 25px;
}
.container--user-edit .js-form-item label:not(.option){
    display: block !important;
    margin-bottom: 10px;
    font-weight: 400 !important;
}
.container--user-edit .js-form-item label[class="option"]{
    position: relative;
    left: 10px;
    top: 1px;
}
.container--user-edit .js-form-item input[type="text"],
.container--user-edit .js-form-item input[type="email"],
.container--user-edit .js-form-item input[type="password"]
 {
    display: block !important;
    width: 100% !important;
    background: #F6F8FA !important;
    border: none !important;
    padding: 10px 5px;
    text-align: left !important;
    color: var(--bs-secondary-color) !important;
    padding-left: 20px;
}
.container--user-edit .js-form-item .description, .container--user-edit .js-form-item .password-strength__title, .container--user-edit .js-form-item .password-confirm-message {
    font-size: 13px !important;
    opacity: 0.8;
    margin-top: 5px;
}
.container--user-edit .form-actions {
    text-align: right !important;
}
.container--user-edit .form-actions [type="submit"] {
    color: #FFF !important;
    font-family: "Kanit" !important;
    font-size: 20px !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: 150% !important;
    border-radius: 10px !important;
    background: var(--Dgrad-bleu, linear-gradient(138deg, rgba(98, 146, 158, 0.80) -15.04%, #62929E 104.44%)) !important;
    border: none !important;
    padding: 10px 30px !important;
}
.container--user label[for="input-file"] {
    display: block;
    width: 100%;
    background: #e3362c;
    color: #fff;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    height: 100%;
    opacity: 0 !important;
}
.container--user input[id="input-file"] {
    display: none !important;
}
</style>

<div class="container container--right std--useradmin  container--user-edit container--user">
    <div class="row mb-2">
        <div class="col-lg-3">
            <div class="content--right useradmin--sidebar-right row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="container--profile">
                    <div class="content--profile">
                        <div class="arrow">
                            <img src="https://template.staydirect.cloud/sites/template/files/2024-01/1063891_arrow_arrow%20left_back_previous_icon.png" alt="" style="width:50%; height: auto;" class="cursor">
                        </div>
                        <div class="btn--add">
                            <img src="https://template.staydirect.cloud/sites/template/files/2024-01/plus.png" alt="" style="width: 50%;" class="cursor">
                        </div>
                            <img src="https://template.staydirect.cloud/sites/template/files/2024-01/profil-default.png" id="profile-pic" alt="" style="width: 100%;height: auto;min-height: 152px;object-fit: cover !important;">
                        <label for="input-file">update image</label>
                        <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" hidden>
                       </div>
                    <div class="details--profile">
                        <div class="details--content">
                        
                        </div>
                        <div class="details--content">
                            <span><a href="{{base_url()}}/user">My account.</a></span>
                            <span><a href="{{base_url()}}/user/{{u.id}}/edit">Edit profil</a></span>
                            
                           
                            <span><a href="{{base_url()}}/user/logout">Log out</a></span>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9" id="user-info">
            <div class="row useradmin--sidebar-left g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static content--right">
                    <p class="mb-auto">Edit User Informations</p>
                    <div class="container--spends">
                         {{content}}
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
<script>
    var Element = document.querySelector('input[type="file"]');
    var img = document.querySelector('#profile-pic');
    Element.addEventListener('change', function() {
        var url = URL.createObjectURL(Element.files[0]);
        img.src = url;
    });
</script>



{% endblock %}