{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
    {% block templating_content %}

    {% set item_name = 'form--user-staydirect-user-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'form__user_staydirect_user_full')}}


<div class="container container--right std--useradmin  container--user-edit container--user">
    <div class="row mb-2">
        <div class="col-lg-3">
            <div class="content--right useradmin--sidebar-right row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="container--profile">
                    <div class="content--profile">
                        <div class="arrow">
                            <img src="https://template.staydirect.cloud/sites/template/files/2024-01/1063891_arrow_arrow%20left_back_previous_icon.png" alt="" style="width:50%; height: auto;" class="cursor">
                        </div>
                        <div class="btn--add">
                            <img src="https://template.staydirect.cloud/sites/template/files/2024-01/plus.png" alt="" style="width: 50%;" class="cursor">
                        </div>
                            <img src="https://template.staydirect.cloud/sites/template/files/2024-01/profil-default.png" id="profile-pic" alt="" style="width: 100%;height: auto;min-height: 152px;object-fit: cover !important;">
                        <label for="input-file">update image</label>
                        <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" hidden>
                       </div>
                    <div class="details--profile">
                        <div class="details--content">
                        
                        </div>
                        <div class="details--content">
                            <span><a href="{{base_url()}}/user">My account.</a></span>
                            <span><a href="{{base_url()}}/user/{{u.id}}/edit">Edit profil</a></span>
                            
                           
                            <span><a href="{{base_url()}}/user/logout">Log out</a></span>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9" id="user-info">
            <div class="row useradmin--sidebar-left g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static content--right">
                    <p class="mb-auto">Edit User Informations</p>
                    <div class="container--spends">
                         {{content}}
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>
<script>
    var Element = document.querySelector('input[type="file"]');
    var img = document.querySelector('#profile-pic');
    Element.addEventListener('change', function() {
        var url = URL.createObjectURL(Element.files[0]);
        img.src = url;
    });
</script>



{% endblock %}