{% extends get_module_path('templating') ~ "/templates/misc/user.html.twig" %}
  
    {% block templating_content %}

    {% set item_name = 'user--staydirect-user-full.html' %} 
    {% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
    {% set css = include(path_css) %} 
    {{render_css(css,'user__staydirect_user_full')}}

    {% set u = user_parser(user) %}
    {% set roles = u['roles'] %}
    {% set roles_length = roles|length %}

    {%  set conditions = {
            'field_client': u['uid']
        } 
    %}

    {% set booking = node_parser_by_properties(conditions)%}

    {% set user = current_user() %}

    <div>
        {% for item in booking %}
            {% set n = node_parser(item) %}
            {{kint(n)}}
        {% endfor %}
    </div>

    <div class="container container-resp container--resp--tst">
        <div class="row">
            <div class="col-lg-12">
            <div class="container--header">
                &nbsp;
            </div>
            </div>
        </div>
    </div>
    
    <div class="container-resp container container--right std--useradmin container--user user--profile--rectf">
    <div class="row mb-2">
        <div class="col-lg-3">
        <div class="content--right useradmin--sidebar-right row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="container--profile">
                <div class="content--profile">
                    <div class="arrow">
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/1063891_arrow_arrow%20left_back_previous_icon.png" alt="" style="width:50%; height: auto;" class="cursor">
                    </div>
                    <div class="btn--add">
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/plus.png" alt="" style="width: 50%;" class="cursor">
                    </div>
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/profil-default.png" alt="" style="width: 100%; height: auto; min-height: 100%;" id="id--img-profile">
                    <label for="input-file">update image</label>
                    <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" hidden>
                </div>
                <div class="details--profile">
                <div class="details--content">
                
                </div>
                <div class="details--content">
                    <span><a href="{{base_url()}}/user">My account</a></span>
                    <span><a href="{{base_url()}}/user/{{u.id}}/edit">Edit profil</a></span>
                    <span><a href="{{base_url()}}/user/logout">Log out</a></span>  
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-9" id="user-info">
        <div class="row useradmin--sidebar-left g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static content--right">
            <p class="mb-auto">User Informations</p>
            <div class="container--spends">
                <div class="content--spend">
                    <p>
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/name.png" alt=""> 
                    Name : {{u.name}}
                    </p>
                </div>
                <div class="content--spend">
                    <p>
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/email.png" alt=""> 
                    Email : {{u.mail}}
                    </p>
                </div>
                <div class="content--spend">
                <p>
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/roles.png" alt="">
                    Roles : 
                    <span>
                        {% for size in 0 .. (roles_length - 1) %}
                        <span> {{roles[size]}} </span>
                        {% endfor %}
                    <span>
                </p>
                </div>
                <div class="content--spend">
                <p>
                    <img src="https://template.staydirect.cloud/sites/template/files/2024-01/timezone.png" alt=""> 
                    Timezone : {{u.timezone}}
                </p>
                </div>
            
            </div>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" id="history-product">
            <div class="col p-4 d-flex flex-column position-static mySwiper">
            <p class="mb-auto">History product booked</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Item</th>
                    <th scope="col">Addons</th>
                    <th scope="col">Dates</th>
                    <th scope="col">Prices (Default)</th>
                    <th scope="col">State</th>
                    <th scope="col">Pay now</th>
                    <th scope="col">Download Invoice</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in booking %}
                        {% set n = node_parser(item) %}
                        <tr>
                            <th scope="row">{{ n['nid'] }}</th>
                            <td>{{ n['field_item'].title }}</td>
                        
                            <td>
                                {% set addons = n['field_addons'] %}
                                {% set addons_length = addons|length %}
                                {% for size in 0 .. (addons_length - 1) %}
                                <p>{{addons[size].field_name}}</p>
                                {% endfor %}
                            </td>
                            <td>
                                {{ n['field_dates'][0].value }} - <br>
                                {{ n['field_dates'][0].end_value }}
                            </td>
                            <td>
                                {{ n['field_price_with_tax'] }} (  {{n['field_price_default'] }} )
                            </td>
                            <td>
                                {{n['field_status']}}
                            </td>
                            <td>
                                Pay now
                            </td>
                            <td>
                               Download Invoice
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" style="display: none;">
            <div class="col p-4 d-flex flex-column position-static mySwiper">
            <p class="mb-auto">Works most with</p>
            <div class="container--works swiper-wrapper">
                <div class="content--work swiper-slide">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d2999b0a1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d2999b0a1%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.337499618530273%22%20y%3D%2242.05999994277954%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="rounded-circle">
                <span>Joe A</span>
                </div>
                <div class="content--work swiper-slide">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d2999b0a1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d2999b0a1%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.337499618530273%22%20y%3D%2242.05999994277954%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="rounded-circle">
                <span>Joe A</span>
                </div>
                <div class="content--work swiper-slide">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d2999b0a1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d2999b0a1%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.337499618530273%22%20y%3D%2242.05999994277954%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="rounded-circle">
                <span>Joe A</span>
                </div>
                <div class="content--work swiper-slide">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d2999b0a1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d2999b0a1%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.337499618530273%22%20y%3D%2242.05999994277954%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="rounded-circle">
                <span>Joe A</span>
                </div>
                <div class="content--work swiper-slide">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d2999b0a1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d2999b0a1%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.337499618530273%22%20y%3D%2242.05999994277954%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="rounded-circle">
                <span>Joe A</span>
                </div>
                <div class="content--work swiper-slide">
                <img src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2275%22%20height%3D%2275%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2075%2075%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d2999b0a1%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A10pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d2999b0a1%22%3E%3Crect%20width%3D%2275%22%20height%3D%2275%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2219.337499618530273%22%20y%3D%2242.05999994277954%22%3E75x75%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="..." class="rounded-circle">
                <span>Joe A</span>
                </div>  
            </div>
            </div>
        </div>
        </div>

    </div>
    </div>

    <script>
        var Element = document.querySelector('input[type="file"]');
        var img = document.querySelector('#id--img-profile');
        Element.addEventListener('change', function() {
            var url = URL.createObjectURL(Element.files[0]);
            img.src = url;
        });
    </script>



{% endblock %}