{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

{% set item_name = 'block--staydirect-template-1-footer-full.html' %} 
{% set path_css = '/themes/custom/staydirect_template_1/templates/templating/css/'~ item_name ~'.css' %}
{% set css = include(path_css) %} 
{{render_css(css,'block__staydirect_template_1_footer_full')}}

{% set c = block_parser(content) %}
{% set paragraphs = c['field_paragraphs'] %}
{% set paragraphs_length = paragraphs|length %}

<footer>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-left">
          <h3>
            {{c.field_text}}
          </h3  >
          <p>
            {{c.field_textlong}}
          </p>
        </div>
        <div class="col-md-4 col-sm-6 footer-center">
          <div class="content-footer-center">
            <h3>{{c.field_title}}</h3>
            <p>
              {{c.field_value_text1}}
            </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 footer-right">
          <div class="content-footer-right">
            <h3>Follow us.</h3>
            <p>
              {% for size in 0 .. (paragraphs_length - 1) %}
                  <a href=" {{paragraphs[size]['field_link'].url}}">
                    <i class="fab fa-instagram">
                      <img src="{{paragraphs[size]['field_icon']['image'].url}}" alt="" style="width: 25px; height: 25px;">
                    </i>
                    {{paragraphs[size]['field_link'].title}}
                  </a> 
              {% endfor %} 
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom col-lg-12">
    <div class="content-footer-bottom">
      <div class="line">

      </div>
      <p>
        {{c.field_text1}}
      </p>
    </div>
  </div>

</footer>

<div id="nav-to-top-ands" class="nav-to-top-and nav-to-top-resp active">
  <!-- 
  <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
      <path d="M11 2.206l-6.235 7.528-.765-.645 7.521-9 7.479 9-.764.646-6.236-7.53v21.884h-1v-21.883z"/>
  </svg>
  -->
  <svg width="20" height="20" viewBox="-8.5 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <title>angle-double-top</title>
    <path d="M13.72 17.68c-0.2 0-0.44-0.080-0.6-0.24l-5.84-5.84-5.84 5.84c-0.32 0.32-0.84 0.32-1.2 0-0.32-0.32-0.32-0.84 0-1.2l6.44-6.44c0.32-0.32 0.88-0.32 1.2 0l6.44 6.44c0.32 0.32 0.32 0.84 0 1.2-0.16 0.16-0.4 0.24-0.6 0.24zM13.72 22.44c-0.2 0-0.44-0.080-0.6-0.24l-5.84-5.88-5.84 5.88c-0.32 0.32-0.84 0.32-1.2 0-0.32-0.32-0.32-0.84 0-1.2l6.44-6.44c0.32-0.32 0.88-0.32 1.2 0l6.44 6.44c0.32 0.32 0.32 0.84 0 1.2-0.16 0.16-0.4 0.24-0.6 0.24z"></path>
  </svg>
</div>

<script>
  if( document.body.contains(  document.getElementById("nav-to-top-ands") ) ) {
      let nav_to_top =  document.querySelector("#nav-to-top-ands");
      window.addEventListener('scroll', function() {
          if( window.pageYOffset >= 800 ) {
              nav_to_top.classList.add("active");
          }else {
              nav_to_top.classList.remove("active");
          }
      });
    nav_to_top.addEventListener("click", function(){
        window.scrollTo(0, 0);
    })
  }
</script>

{% endblock %}