{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}

{% block templating_content %}
{% set c = block_parser(content) %}
{% set imgs = c['field_images'] %}
{% set imgs_length = imgs|length %}

<style>
.grid {
    display: grid;
    gap: 10px;
}
.container-banniere-resp img {
    width:100%;
    height: 100%;
}
.container-banniere-resp {
    display: grid;
    height: 500px;
    overflow: hidden;
    gap: 5px;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
}
.banniere-col1 {
    display: grid;
    display: grid;
    height: 100%;
    grid-template-columns: span 1;
    background-color: aquamarine;
}
.banniere-col2{
    display: grid;
    grid-column: span 3;
    height: 100%;
    grid-template-rows: repeat(2,1fr);
}
.banniere-col2-row1 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
}
.banniere-col2-row2 {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    height: 100%;
}
.banniere-col2-row1-col1 {
    grid-column: span 1;
    background-color: #fff;
    grid-template-rows: 1fr;
    height: 100%;
}
.banniere-col2-row1-col2 {
    grid-column: span 2;
    background: rgb(251, 255, 0);
    grid-template-rows: 1fr;
    height: 100%;
}
.banniere-col2-row2-col1 {
    grid-column: span 2;
    background: rgb(251, 255, 0);
    grid-template-rows: 1fr;
    height: 100%;
}
.banniere-col2-row2-col2 {
    grid-column: span 1;
    background: #fff;
    grid-template-rows: 1fr;
    height: 100%;
}


</style>

<section class="banniere--resp">
<div class="wrapper--resp">

    <div class="container-banniere-resp grid">
        <div class="banniere-col1 grid" style="     
            background: url( {{ imgs[0]['image'].url }} );
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        ">
           
        </div>
        <div class="banniere-col2 grid">
            <div class="banniere-col2-row1 grid">
                <div class="grid banniere-col2-row1-col1" style="     
                background: url({{ imgs[1]['image'].url }});
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            ">
                   
                </div>
                <div class="grid banniere-col2-row1-col2" style="     
                background: url({{ imgs[2]['image'].url }});
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            ">
                    
                </div>
            </div>
            <div class="banniere-col2-row2 grid">
                <div class="grid banniere-col2-row2-col1 grid" style="     
                background: url({{ imgs[3]['image'].url }});
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            ">

                </div>
                <div class="grid banniere-col2-row2-col2" style="     
                background: url({{ imgs[4]['image'].url }});
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
            ">
                    
                </div>
            </div>
        </div>
    </div>
</div>
</section>

{% endblock %}