{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

  {% set item_name = 'block--staydirect-template-1-regist-full.html' %} 
  {% set path_css = '/themes/custom/staydirect_template_1/templates/templating/css/'~ item_name ~'.css' %}
  {% set css = include(path_css) %} 
  {{render_css(css,'block__staydirect_template_1_regist_full')}}

  {% set c = block_parser(content) %}
  {% if not is_login() %}
    <div class="log-reg">
        <div class="container-resp">
        <div class="left ">
            <div class="container-left reg--container-left">
                <h1  onclick='location.href="{{base_url()}}"'>
                    Hotel rental
                </h1>   
                <div class="content-left reg--content-left" style="position: relative;">
                    {{user_register()}}
                    <div class="description--register-forget">
                        <span>
                            <a href="{{base_url()}}/login"> Login </a>
                        </span>
                        <span>
                            <a href="{{base_url()}}/user/password">Forget Password</a> 
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="right" style="     
        width: 41%;
        height: 100vh;
        background-image: url(  {{ c['field_media1']['image'].url }} );
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;">
            <div class="container--right-login">
                <h2 style="color: #fff; cursor: pointer; text-align: center;" onclick='location.href="https://template.staydirect.cloud/"'>
                    Go to <br> Hotel rental
                </h2>
            </div>
        </div>
        </div>
    </div>
    <script>
        if( document.body.contains( document.querySelector(".log-reg form .std--useradmin.container--user-edit.container--user")) ) {
          document.querySelector(".log-reg form .std--useradmin.container--user-edit.container--user").classList.remove("container");
          document.querySelector(".log-reg form .std--useradmin.container--user-edit.container--user #user-info").classList.remove("col-lg-9")
        }
    </script> 
  {% else %} 
    {% set url = '' ~ base_url() ~ '/user' %}
    {% do redirect(url) %}
  {% endif %}


{% endblock %}