{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

{% set item_name = 'block--staydirect-template-1-contact-full.html' %} 
{% set path_css = '/themes/custom/staydirect_template_1/templates/templating/css/'~ item_name ~'.css' %}
{% set css = include(path_css) %} 
{{render_css(css,'block__staydirect_template_1_contact_full')}}
  
{% set c = block_parser(content) %}
{% set paragraphs = c['field_paragraphs'] %}
{% set paragraphs_length = paragraphs|length %}
{% set texts = c['field_texts'] %}
{% set txts_length = texts|length %}
{% set texts2 = c['field_texts2'] %}
{% set txts2_length = texts2|length %}

<div class="contact">
    <div class="container">
        <div class="row">
          <div class="settings">
            <div class="content-settings" style="display: none;">
              <div class="setting-color version-bleu active">
                <svg width="16" height="16" fill="#3498DB" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
              </div>
              <div class="setting-color version-vert">
                  <svg width="16" height="16"  fill="#1ECC71" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
              </div>
              <div class="setting-color version-gris">
                  <svg width="16" height="16" fill="#333" xmlns="http://www.w3.org/2000/svg" svg-inline="" role="presentation" focusable="false"><path d="M10.74 2c2.349 0 3.927 2.235 3.927 4.32C14.667 10.543 8.119 14 8 14c-.118 0-6.667-3.457-6.667-7.68C1.333 4.235 2.911 2 5.26 2 6.607 2 7.49 2.683 8 3.283 8.511 2.683 9.393 2 10.74 2z"></path></svg>
              </div>
          </div>
          </div>
            <div class="col-md-4 col-cont-left-abs" style="       
              position: absolute; 
              left: 0;
              top: 0; 
              max-width: 515px; 
              bottom: 0; 
              background-image: url( {{c['field_media1']['image'].url}} );
              background-repeat:no-repeat;
              background-position: center center;
              background-size: cover;
              border-radius: 0px 20px 20px 0px;
            ">
              
            </div>
            <div class="col-md-4 col-contact col-cont-left">    
                
            </div>
            <div class="col-md-8 col-contact col-cont-right">
                <div class="content-contact-right">
                    <div class="header-cnt">
                      <h1>
                        {{c.field_title}}
                      </h1>
                      <p class="desc-cnt">
                        {{c['body'][0].value|replace({"<p>": "", '</p>': ""})}}
                      </p>
                    </div>
                    <div class="row row-cnt">
                        <div class="col-md-12 none-desk none-mob mode-tablt">
                            <div class="row">
                              <div class="col-sm-6">
                                <h2>INFORMATION.</h2>
                                <p class="info">
                                  {% for size in 0 .. (txts_length - 1) %}
                                    {{ texts[size] }} 
                                    <br>
                                  {% endfor %}
                                </p>
                              </div>
                              <div class="col-sm-6 info-tab" style="margin-top: 80px;">
                                {% for size in 0 .. (txts2_length - 1) %}
                                  {{ texts2[size] }}&nbsp;
                                {% endfor %}
                              </div>
                            </div>
                        </div>
                        <div class="col-md-6 information-contact mode-none-tablt">
                            <h2>INFORMATION</h2>
                            <p class="info">
                              {% for size in 0 .. (txts_length - 1) %}
                                {{ texts[size] }} <br>
                              {% endfor %}
                              <br> 
                              {% for size in 0 .. (txts2_length - 1) %}
                                {{ texts2[size] }}&nbsp;
                              {% endfor %}
                            </p>
                            <div class="cont-icon-rs">
                              {% for size in 0 .. (paragraphs_length - 1) %}
                                <div class="icon">
                                  <img src=" {{paragraphs[size]['field_icon1']['image'].url}}" alt="" style="width: 25px; height: 25px;">
                                </div>
                              {% endfor %} 
                            </div>
                        </div>

                        <div class="col-md-6 form-contact">
                            <form class="needs-validation" novalidate="">
                                <h2>
                                    SEND A REQUEST
                                </h2>
                                <div class="row g-3" bis_skin_checked="1">

                                  <div class="col-12" bis_skin_checked="1">
                                    
                                  <input type="email" class="form-control form-control-and" id="email" placeholder="you@example.com">
                                    <div class="invalid-feedback" bis_skin_checked="1">
                                      Please enter a valid email address for shipping updates.
                                    </div>
                                  </div>
                      
                                  <div class="col-12" bis_skin_checked="1">
                                    <input type="text" class="form-control form-control-and" id="address" placeholder="1234 Main St" required="">
                                    <div class="invalid-feedback" bis_skin_checked="1">
                                      Please enter your shipping address.
                                    </div>
                                  </div>
                      
                                  <div class="col-12" bis_skin_checked="1">
                                    <textarea name="" class="form-control form-control-and">

                                    </textarea>
                                  </div>
                      
                                </div>
                      
                                <button class="w-100 btn-cont btn-primary btn-lg" type="submit">Continue to checkout</button>
                              
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}