{% block templating_content %}
{% set c = block_parser(content) %}
    {% set paragraphs = c['field_paragraphs'] %}
    {% set paragraphs_length = paragraphs|length %}
    
    
    {% if  c['field_image1']['image'].url is defined %}
      {% set img_bg = "https://template.staydirect.cloud/sites/template/files/2023-11/aminities.png" %}
    {% else %}
      {% set img_bg = c['field_image1']['image'].url %}
    {% endif %}
    
    <style>
      *::after,
      *::before {
          box-sizing: border-box;
          margin: 0;
          padding: 0;
      }
    
      * {
          scroll-behavior: smooth;
      }
      .btn--resp {
        padding: 20px 35px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 38px;
        background: var(--bleu-color);
        color: #FFF;
        font-family: "Montserrat";
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
      }
      ul {
        margin-bottom: 0;
        padding-left: 0;
        padding-right: 0;
      }
      ul li {
        list-style-type: none;
      }
    .wrapper--resp {
      margin: auto;
    } 
    header .menu-main--resp ul {
      display: flex;
      flex-direction: row;
      gap: 39px;
    }  
    header .menu-main--resp ul li a{
      color: var(--bleumarine-color);
      font-family: "Montserrat";
      font-size: 23px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    } 
    header .menu-main--resp ul li.active a {
      color: var(--bleu-color);
    } 
    header .menu-main--resp ul li.active::after {
      content: "";
      width: 29px;
      height: 3px;
      background: var(--bleu-color);
      margin-top: 10px !important;
      display: block ;
      margin: auto;
    }
    @media (max-width: 499.96px) {
      .wrapper--resp {
        width: 100%;
        max-width: none !important;
        padding-left: 20px;
        padding-right:20px
      }
      .none-mob {
        display: none !important;
      }
    }
    @media (min-width: 499.98px) {
      .wrapper--resp {
        width: 100%;
        max-width: none;
        padding-left: 20px;
        padding-right:20px;
      }
      .none-mob {
        display: none !important;
      }
    }
    @media (min-width: 767.98px) {
      .wrapper--resp {
        width: 100%;
        max-width: none !important;
        padding-left: 40px;
        padding-right:40px
      }
      .none-tab {
        display: none !important;
      }
    }
    @media (min-width: 991.98px) {
      .wrapper--resp {
        width: 100%;
        max-width: none !important;
        padding-left: 60px;
        padding-right:60px;
      }
      .none-desk, .menu-mobile-effet {
        display: none !important;
      }
    
    }
    @media (min-width: 1199.98px) {
      .wrapper--resp {
        width: 100%;
        max-width: none !important;
        padding-left: 60px;
        padding-right:60px;
      }
    }
    @media (min-width: 1385.98px) {
        .wrapper--resp {
          max-width: 1200px !important;
          padding-left: 0px;
          padding-right:0px;
        }
    }
    @media (min-width: 1499.98px) {
      .wrapper--resp {
        max-width: 1500px;
        padding-left: 0px;
        padding-right:0px;
      }
    }
    </style>
       
    <div class="aminitie" style="background: url({{img_bg}});"></div>
    
    <div class="container">
      <div class="container-aminitie">
        <div class="col-md-12 auto">
          <h2 class="text-body-emphasis">{{c.field_title}}</h2>
          <p>{{c['body'][0].value|replace({"<p>": "", '</p>': ""})}}</p>
          <div class="row">
              {% for size in 0 .. (paragraphs_length - 1) %}
                
                {% if size%4 == 0 %}
                <div class="col-6">
                  <ul class="list-unstyled ps-0">
                    <li>
                      <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                        {% if paragraphs[size]['field_icon1']['image'].url is defined %}
                          <img src="{{paragraphs[size]['field_icon1']['image'].url}}" alt="" style="width: 25px; height: 25px;">
                        {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.60942 2.86453C4.66879 2.86453 3.90629 3.62703 3.90629 4.56765V11.7187H22.9167C23.1239 11.7187 23.3226 11.801 23.4691 11.9475C23.6156 12.094 23.698 12.2927 23.698 12.4999C23.698 12.7071 23.6156 12.9059 23.4691 13.0524C23.3226 13.1989 23.1239 13.2812 22.9167 13.2812H22.6375C22.6448 13.3281 22.649 13.3749 22.6521 13.4229C22.6563 13.4833 22.6563 13.5479 22.6563 13.6104V13.651C22.6563 14.0416 22.6563 14.2708 22.6396 14.526C22.4917 16.8552 21.2334 19.0072 19.4094 20.4135C19.4238 20.4364 19.437 20.4601 19.449 20.4843L20.4907 22.5677C20.5374 22.6595 20.5656 22.7598 20.5734 22.8626C20.5813 22.9654 20.5687 23.0687 20.5364 23.1667C20.5041 23.2646 20.4528 23.3551 20.3853 23.4331C20.3179 23.5111 20.2356 23.575 20.1434 23.621C20.0511 23.6671 19.9507 23.6944 19.8478 23.7015C19.745 23.7085 19.6417 23.6951 19.544 23.6621C19.4464 23.629 19.3562 23.577 19.2788 23.5089C19.2013 23.4409 19.1381 23.3582 19.0927 23.2656L18.0844 21.2499C17.0423 21.7825 15.8921 22.0694 14.7219 22.0885H14.7146C13.9438 22.1177 13.1896 22.1354 12.5 22.1354C11.8105 22.1354 11.0563 22.1177 10.2855 22.0885H10.2782C9.10801 22.0694 7.95777 21.7825 6.91567 21.2499L5.90733 23.2656C5.862 23.3582 5.79878 23.4409 5.72132 23.5089C5.64386 23.577 5.5537 23.629 5.45603 23.6621C5.35837 23.6951 5.25512 23.7085 5.15226 23.7015C5.04939 23.6944 4.94894 23.6671 4.85669 23.621C4.76444 23.575 4.68222 23.5111 4.61477 23.4331C4.54732 23.3551 4.49598 23.2646 4.46369 23.1667C4.43141 23.0687 4.41883 22.9654 4.42668 22.8626C4.43452 22.7598 4.46264 22.6595 4.50942 22.5677L5.55108 20.4843C5.56305 20.46 5.57627 20.4364 5.59067 20.4135C3.76671 19.0072 2.50733 16.8552 2.36046 14.526C2.34543 14.2346 2.33987 13.9428 2.34379 13.651V13.2812H2.08337C1.87617 13.2812 1.67746 13.1989 1.53095 13.0524C1.38443 12.9059 1.30212 12.7071 1.30212 12.4999C1.30212 12.2927 1.38443 12.094 1.53095 11.9475C1.67746 11.801 1.87617 11.7187 2.08337 11.7187H2.34379V4.56765C2.34373 3.80864 2.60806 3.07331 3.09135 2.48804C3.57465 1.90278 4.24671 1.50415 4.99204 1.36065C5.73737 1.21716 6.5094 1.33777 7.17545 1.70176C7.8415 2.06574 8.35995 2.65037 8.64171 3.35515L8.75629 3.64161C9.61118 3.42337 10.5142 3.49368 11.325 3.84161C11.8297 4.05915 12.286 4.37502 12.6673 4.77081C13.0486 5.1666 13.3473 5.63437 13.5459 6.14682C13.62 6.33554 13.6179 6.54571 13.54 6.7329C13.462 6.92009 13.3144 7.06964 13.1282 7.14995L6.91983 9.82286C6.82374 9.86437 6.72028 9.88615 6.61561 9.8869C6.51094 9.88765 6.40718 9.86736 6.3105 9.82723C6.21383 9.78711 6.1262 9.72796 6.05282 9.6533C5.97945 9.57865 5.92182 9.49001 5.88337 9.39265C5.474 8.35127 5.48146 7.19222 5.90421 6.1562C6.20112 5.4182 6.69872 4.77807 7.34067 4.30828L7.19067 3.93536C7.06429 3.61929 6.8461 3.34834 6.56425 3.15747C6.2824 2.96659 5.94982 2.86456 5.60942 2.86453ZM4.25317 13.2812H4.149C4.08296 13.2854 4.02104 13.3148 3.97592 13.3632C3.9308 13.4116 3.90589 13.4754 3.90629 13.5416V13.6281C3.90629 14.0468 3.90629 14.226 3.91983 14.427C4.11254 17.4708 6.72712 20.1854 9.76046 20.4916C9.96358 20.5124 10.0761 20.5166 10.3438 20.527C11.1021 20.5552 11.8365 20.5729 12.5 20.5729C13.1636 20.5729 13.898 20.5552 14.6563 20.527C14.924 20.5166 15.0365 20.5124 15.2396 20.4916C18.273 20.1854 20.8875 17.4708 21.0802 14.427C21.0938 14.226 21.0938 14.0468 21.0938 13.6281V13.5249C21.0938 13.5229 21.0938 13.5229 21.0938 13.5249C21.0896 13.4618 21.0626 13.4023 21.0177 13.3576C20.9728 13.3129 20.9132 13.2862 20.85 13.2822C20.8511 13.2822 20.8521 13.2822 20.85 13.2822H20.8334L20.748 13.2812H4.25317ZM10.7115 5.27911C10.3848 5.13902 10.0316 5.0714 9.67628 5.08094C9.32094 5.09047 8.97188 5.17691 8.65317 5.33432C8.05941 5.62694 7.59541 6.12954 7.35108 6.74474C7.18643 7.14917 7.11865 7.58652 7.15317 8.02182L11.7157 6.05724C11.4524 5.71645 11.1064 5.4486 10.7105 5.27911H10.7115Z" fill="white"/>
                          </svg>
                        {% endif %}
    
                        {{paragraphs[size].field_text1}}
    
                      </a>
                    </li>
                {% elseif size%4== 3%}
                    <li>
                      <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                        {% if paragraphs[size]['field_icon1']['image'].url is defined %}
                          <img src="{{paragraphs[size]['field_icon1']['image'].url}}" alt="" style="width: 25px; height: 25px;">
                        {% else %}
                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.60942 2.86453C4.66879 2.86453 3.90629 3.62703 3.90629 4.56765V11.7187H22.9167C23.1239 11.7187 23.3226 11.801 23.4691 11.9475C23.6156 12.094 23.698 12.2927 23.698 12.4999C23.698 12.7071 23.6156 12.9059 23.4691 13.0524C23.3226 13.1989 23.1239 13.2812 22.9167 13.2812H22.6375C22.6448 13.3281 22.649 13.3749 22.6521 13.4229C22.6563 13.4833 22.6563 13.5479 22.6563 13.6104V13.651C22.6563 14.0416 22.6563 14.2708 22.6396 14.526C22.4917 16.8552 21.2334 19.0072 19.4094 20.4135C19.4238 20.4364 19.437 20.4601 19.449 20.4843L20.4907 22.5677C20.5374 22.6595 20.5656 22.7598 20.5734 22.8626C20.5813 22.9654 20.5687 23.0687 20.5364 23.1667C20.5041 23.2646 20.4528 23.3551 20.3853 23.4331C20.3179 23.5111 20.2356 23.575 20.1434 23.621C20.0511 23.6671 19.9507 23.6944 19.8478 23.7015C19.745 23.7085 19.6417 23.6951 19.544 23.6621C19.4464 23.629 19.3562 23.577 19.2788 23.5089C19.2013 23.4409 19.1381 23.3582 19.0927 23.2656L18.0844 21.2499C17.0423 21.7825 15.8921 22.0694 14.7219 22.0885H14.7146C13.9438 22.1177 13.1896 22.1354 12.5 22.1354C11.8105 22.1354 11.0563 22.1177 10.2855 22.0885H10.2782C9.10801 22.0694 7.95777 21.7825 6.91567 21.2499L5.90733 23.2656C5.862 23.3582 5.79878 23.4409 5.72132 23.5089C5.64386 23.577 5.5537 23.629 5.45603 23.6621C5.35837 23.6951 5.25512 23.7085 5.15226 23.7015C5.04939 23.6944 4.94894 23.6671 4.85669 23.621C4.76444 23.575 4.68222 23.5111 4.61477 23.4331C4.54732 23.3551 4.49598 23.2646 4.46369 23.1667C4.43141 23.0687 4.41883 22.9654 4.42668 22.8626C4.43452 22.7598 4.46264 22.6595 4.50942 22.5677L5.55108 20.4843C5.56305 20.46 5.57627 20.4364 5.59067 20.4135C3.76671 19.0072 2.50733 16.8552 2.36046 14.526C2.34543 14.2346 2.33987 13.9428 2.34379 13.651V13.2812H2.08337C1.87617 13.2812 1.67746 13.1989 1.53095 13.0524C1.38443 12.9059 1.30212 12.7071 1.30212 12.4999C1.30212 12.2927 1.38443 12.094 1.53095 11.9475C1.67746 11.801 1.87617 11.7187 2.08337 11.7187H2.34379V4.56765C2.34373 3.80864 2.60806 3.07331 3.09135 2.48804C3.57465 1.90278 4.24671 1.50415 4.99204 1.36065C5.73737 1.21716 6.5094 1.33777 7.17545 1.70176C7.8415 2.06574 8.35995 2.65037 8.64171 3.35515L8.75629 3.64161C9.61118 3.42337 10.5142 3.49368 11.325 3.84161C11.8297 4.05915 12.286 4.37502 12.6673 4.77081C13.0486 5.1666 13.3473 5.63437 13.5459 6.14682C13.62 6.33554 13.6179 6.54571 13.54 6.7329C13.462 6.92009 13.3144 7.06964 13.1282 7.14995L6.91983 9.82286C6.82374 9.86437 6.72028 9.88615 6.61561 9.8869C6.51094 9.88765 6.40718 9.86736 6.3105 9.82723C6.21383 9.78711 6.1262 9.72796 6.05282 9.6533C5.97945 9.57865 5.92182 9.49001 5.88337 9.39265C5.474 8.35127 5.48146 7.19222 5.90421 6.1562C6.20112 5.4182 6.69872 4.77807 7.34067 4.30828L7.19067 3.93536C7.06429 3.61929 6.8461 3.34834 6.56425 3.15747C6.2824 2.96659 5.94982 2.86456 5.60942 2.86453ZM4.25317 13.2812H4.149C4.08296 13.2854 4.02104 13.3148 3.97592 13.3632C3.9308 13.4116 3.90589 13.4754 3.90629 13.5416V13.6281C3.90629 14.0468 3.90629 14.226 3.91983 14.427C4.11254 17.4708 6.72712 20.1854 9.76046 20.4916C9.96358 20.5124 10.0761 20.5166 10.3438 20.527C11.1021 20.5552 11.8365 20.5729 12.5 20.5729C13.1636 20.5729 13.898 20.5552 14.6563 20.527C14.924 20.5166 15.0365 20.5124 15.2396 20.4916C18.273 20.1854 20.8875 17.4708 21.0802 14.427C21.0938 14.226 21.0938 14.0468 21.0938 13.6281V13.5249C21.0938 13.5229 21.0938 13.5229 21.0938 13.5249C21.0896 13.4618 21.0626 13.4023 21.0177 13.3576C20.9728 13.3129 20.9132 13.2862 20.85 13.2822C20.8511 13.2822 20.8521 13.2822 20.85 13.2822H20.8334L20.748 13.2812H4.25317ZM10.7115 5.27911C10.3848 5.13902 10.0316 5.0714 9.67628 5.08094C9.32094 5.09047 8.97188 5.17691 8.65317 5.33432C8.05941 5.62694 7.59541 6.12954 7.35108 6.74474C7.18643 7.14917 7.11865 7.58652 7.15317 8.02182L11.7157 6.05724C11.4524 5.71645 11.1064 5.4486 10.7105 5.27911H10.7115Z" fill="white"/>
                          </svg>
                        {% endif %}
                        {{paragraphs[size].field_text1}}
                      </a>
                    </li>
                  </ul>
                </div>
                {% else %}
                  <li>
                    <a class="icon-link" href="/docs/5.3/getting-started/introduction/">
                      {% if paragraphs[size]['field_icon1']['image'].url is defined %}
                        <img src="{{paragraphs[size]['field_icon1']['image'].url}}" alt="" style="width: 25px; height: 25px;">
                      {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 25 25" fill="none">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M5.60942 2.86453C4.66879 2.86453 3.90629 3.62703 3.90629 4.56765V11.7187H22.9167C23.1239 11.7187 23.3226 11.801 23.4691 11.9475C23.6156 12.094 23.698 12.2927 23.698 12.4999C23.698 12.7071 23.6156 12.9059 23.4691 13.0524C23.3226 13.1989 23.1239 13.2812 22.9167 13.2812H22.6375C22.6448 13.3281 22.649 13.3749 22.6521 13.4229C22.6563 13.4833 22.6563 13.5479 22.6563 13.6104V13.651C22.6563 14.0416 22.6563 14.2708 22.6396 14.526C22.4917 16.8552 21.2334 19.0072 19.4094 20.4135C19.4238 20.4364 19.437 20.4601 19.449 20.4843L20.4907 22.5677C20.5374 22.6595 20.5656 22.7598 20.5734 22.8626C20.5813 22.9654 20.5687 23.0687 20.5364 23.1667C20.5041 23.2646 20.4528 23.3551 20.3853 23.4331C20.3179 23.5111 20.2356 23.575 20.1434 23.621C20.0511 23.6671 19.9507 23.6944 19.8478 23.7015C19.745 23.7085 19.6417 23.6951 19.544 23.6621C19.4464 23.629 19.3562 23.577 19.2788 23.5089C19.2013 23.4409 19.1381 23.3582 19.0927 23.2656L18.0844 21.2499C17.0423 21.7825 15.8921 22.0694 14.7219 22.0885H14.7146C13.9438 22.1177 13.1896 22.1354 12.5 22.1354C11.8105 22.1354 11.0563 22.1177 10.2855 22.0885H10.2782C9.10801 22.0694 7.95777 21.7825 6.91567 21.2499L5.90733 23.2656C5.862 23.3582 5.79878 23.4409 5.72132 23.5089C5.64386 23.577 5.5537 23.629 5.45603 23.6621C5.35837 23.6951 5.25512 23.7085 5.15226 23.7015C5.04939 23.6944 4.94894 23.6671 4.85669 23.621C4.76444 23.575 4.68222 23.5111 4.61477 23.4331C4.54732 23.3551 4.49598 23.2646 4.46369 23.1667C4.43141 23.0687 4.41883 22.9654 4.42668 22.8626C4.43452 22.7598 4.46264 22.6595 4.50942 22.5677L5.55108 20.4843C5.56305 20.46 5.57627 20.4364 5.59067 20.4135C3.76671 19.0072 2.50733 16.8552 2.36046 14.526C2.34543 14.2346 2.33987 13.9428 2.34379 13.651V13.2812H2.08337C1.87617 13.2812 1.67746 13.1989 1.53095 13.0524C1.38443 12.9059 1.30212 12.7071 1.30212 12.4999C1.30212 12.2927 1.38443 12.094 1.53095 11.9475C1.67746 11.801 1.87617 11.7187 2.08337 11.7187H2.34379V4.56765C2.34373 3.80864 2.60806 3.07331 3.09135 2.48804C3.57465 1.90278 4.24671 1.50415 4.99204 1.36065C5.73737 1.21716 6.5094 1.33777 7.17545 1.70176C7.8415 2.06574 8.35995 2.65037 8.64171 3.35515L8.75629 3.64161C9.61118 3.42337 10.5142 3.49368 11.325 3.84161C11.8297 4.05915 12.286 4.37502 12.6673 4.77081C13.0486 5.1666 13.3473 5.63437 13.5459 6.14682C13.62 6.33554 13.6179 6.54571 13.54 6.7329C13.462 6.92009 13.3144 7.06964 13.1282 7.14995L6.91983 9.82286C6.82374 9.86437 6.72028 9.88615 6.61561 9.8869C6.51094 9.88765 6.40718 9.86736 6.3105 9.82723C6.21383 9.78711 6.1262 9.72796 6.05282 9.6533C5.97945 9.57865 5.92182 9.49001 5.88337 9.39265C5.474 8.35127 5.48146 7.19222 5.90421 6.1562C6.20112 5.4182 6.69872 4.77807 7.34067 4.30828L7.19067 3.93536C7.06429 3.61929 6.8461 3.34834 6.56425 3.15747C6.2824 2.96659 5.94982 2.86456 5.60942 2.86453ZM4.25317 13.2812H4.149C4.08296 13.2854 4.02104 13.3148 3.97592 13.3632C3.9308 13.4116 3.90589 13.4754 3.90629 13.5416V13.6281C3.90629 14.0468 3.90629 14.226 3.91983 14.427C4.11254 17.4708 6.72712 20.1854 9.76046 20.4916C9.96358 20.5124 10.0761 20.5166 10.3438 20.527C11.1021 20.5552 11.8365 20.5729 12.5 20.5729C13.1636 20.5729 13.898 20.5552 14.6563 20.527C14.924 20.5166 15.0365 20.5124 15.2396 20.4916C18.273 20.1854 20.8875 17.4708 21.0802 14.427C21.0938 14.226 21.0938 14.0468 21.0938 13.6281V13.5249C21.0938 13.5229 21.0938 13.5229 21.0938 13.5249C21.0896 13.4618 21.0626 13.4023 21.0177 13.3576C20.9728 13.3129 20.9132 13.2862 20.85 13.2822C20.8511 13.2822 20.8521 13.2822 20.85 13.2822H20.8334L20.748 13.2812H4.25317ZM10.7115 5.27911C10.3848 5.13902 10.0316 5.0714 9.67628 5.08094C9.32094 5.09047 8.97188 5.17691 8.65317 5.33432C8.05941 5.62694 7.59541 6.12954 7.35108 6.74474C7.18643 7.14917 7.11865 7.58652 7.15317 8.02182L11.7157 6.05724C11.4524 5.71645 11.1064 5.4486 10.7105 5.27911H10.7115Z" fill="white"/>
                        </svg>
                      {% endif %}
                      {{paragraphs[size].field_text1}}
                    </a>
                  </li>
                {% endif %}
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
        

{% endblock %}