{% extends get_module_path('templating') ~ "/templates/misc/user.html.twig" %}
{% block templating_content %}


{% set item_name = 'user--staydirect-template-1-user-full.html' %} 
{% set path_css = directory ~ '/templates/templating/css/'~ item_name ~'.css' %}
{% set css = include(path_css) %} 
{{render_css(css,'user__staydirect_template_1_user_full')}}

{% set u = user_parser(user) %}
{% set roles = u['roles'] %}
{% set roles_length = roles|length %}
{% set conditions = {
    'field_client': u['uid']
} %}
{% set booking = node_parser_by_properties(conditions)%}

 <div style="display: none;">
  {% for item in booking %}
    {% set n = node_parser(item) %}
    {{kint(n)}}
  {% endfor %}
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="container--header">
        &nbsp;
      </div>
    </div>
  </div>
</div>
  
<div class="container container--right container--user">
  <div class="row mb-2">
    <div class="col-lg-3">
      <div class="content--right row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="container--profile">
            <div class="content--profile">
                <div class="arrow">
                  <img src="https://template.staydirect.cloud/sites/template/files/2024-01/1063891_arrow_arrow%20left_back_previous_icon.png" alt="" style="width:50%; height: auto;" class="cursor">
                </div>
                <div class="btn--add">
                  <img src="https://template.staydirect.cloud/sites/template/files/2024-01/plus.png" alt="" style="width: 50%;" class="cursor">
                </div>
                <img src="https://template.staydirect.cloud/sites/template/files/2024-01/profil-default.png" alt="" style="width: 100%; height: auto; min-height: 100%;"  id="profile-pic1">
                <label for="input-file">update image</label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" id="input-file" hidden>
              </div>
            <div class="details--profile">
              <div class="details--content">
               
              </div>
              <div class="details--content">
                <span><a href="{{base_url()}}/user">My account</a></span>
                <span><a href="{{base_url()}}/user/{{u['uid']}}/edit">Edit profil</a></span>
        
             
                <span><a href="{{base_url()}}/user/logout">Log out</a></span>  
                
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static content--right">
          <div class="container--spends">
            <div class="content--spend">
                <p>
                  
                  Username : {{u.name}}
                </p>
            </div>
            <div class="content--spend">
                <p>                
                  Email : {{u.mail}}
                </p>
            </div>
            <div class="content--spend">
               <p>         
                  Phone number : {{u.field_phone}}
                </p>
            </div>
             <div class="content--spend">
                <p>         
                  First name : {{u.field_first_name}}
                </p>
            </div>
            <div class="content--spend">
                <p>         
                  Last name : {{u.field_last_name}}
                </p>
            </div>
         
          </div>
        </div>
      </div>
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static mySwiper">
          <table class="table table-striped">
            <thead>

              <tr>
                <th scope="col">ID</th>
                <th scope="col">Item</th>
                <th scope="col">Details</th>
                <th scope="col">Dates </th>
                <th scope="col">Price</th>
                <th scope="col">State</th>
              </tr>

            </thead>
            <tbody>

              {% for item in booking %}
                {% set n = node_parser(item) %}
                <tr>
                  <th scope="row">{{ n['nid'] }}</th>
                  <td>{{ n['field_item'].title }}</td>
                  <td>
                    {% set addons = n['field_addons'] %}
                    {% set addons_length = addons|length %}
                    {% for size in 0 .. (addons_length - 1) %}
                       <p>{{addons[size].field_name}}</p>
                    {% endfor %}
                  </td>
                  <td>
                    {{ n['field_dates'][0].value }} To
                    {{ n['field_dates'][0].end_value }}
                  </td>
                  <td>
                    $ {{ n['field_price_with_tax'] }}  
                  </td>
                  <td>
                    {{n['field_status']}}
                  </td>
                </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}