
{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}

{% set c = block_parser(content) %}
<div style="margin-top: -25px;">

  <header id="header" class="header-transparent header-effect-shrink" data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 70, 'stickyChangeLogo': false, 'stickyHeaderContainerHeight': 70}">
    <div class="header-body border-top-0 bg-dark box-shadow-none">
      <div class="header-container container">
        <div class="header-row">
          <div class="header-column">
            <div class="header-row">
              {% if c.media_image %}
                <div class="header-logo">
                  <a href="/" class="goto-top"><img class="logo-hidden-front" alt="Porto" width="150" height="50" data-sticky-width="82" data-sticky-height="40" data-sticky-top="0" src="{{ c.media_image.image.url }}"></a>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="header-column justify-content-end">
            <div class="header-row">
              <div class="header-nav header-nav-line header-nav-bottom-line header-nav-bottom-line-no-transform header-nav-bottom-line-active-text-light header-nav-bottom-line-effect-1 header-nav-light-text header-nav-dropdowns-dark">
                <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-text-capitalize header-nav-main-text-size-2 header-nav-main-mobile-dark header-nav-main-effect-1 header-nav-main-sub-effect-1">
                  <nav class="collapse">
                    <ul class="nav nav-pills w-100" id="mainNav">
                      {% if c.menu %}
                        {% set top_menu = simplify_menu(c.menu) %}


                        {% for item in top_menu.menu_tree %}
                          <li>
                            <a class="dropdown-item" href=" {{ item.url }}">{{ item.text }}</a>
                          </li>
                        {% endfor %}
                      {% endif %}
                      {% if is_login() %}
                        <li class="dropdown dropdown-reverse">
                          <a class="dropdown-item dropdown-toggle" href="#">
                            My account
                            <i class="fas fa-chevron-down"></i></a>
                          <ul class="dropdown-menu">
                            {% set account = simplify_menu('account') %}
                            {% for item in account.menu_tree %}
                              <li><a class="dropdown-item" href="{{ item.url }}">{{ item.text }}</a></li>
                            {% endfor %}
                          </ul>
                        </li>
                      {% endif %}
                    </ul>
                  </nav>
                </div>
                <ul class="header-social-icons social-icons d-none d-sm-block">
                  <li class="social-icons-facebook">
                    <a href="https://www.facebook.com/mizara.org" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a>
                  </li>
                  <li class="social-icons-linkedin"><a href="https://www.linkedin.com/in/mizara-plateforme-502994218" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
                <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main nav"><i class="fa fa-bars"></i></button>
              </div>
              {% if not is_login() %}
              <div class="header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
                <div class="header-nav-feature header-nav-features-user d-inline-flex mx-2 pe-2 signin" id="headerAccount">
                  <a href="#" class="text-light header-nav-features-toggle">
                    <i class="far fa-user"></i> Sign In
                  </a>
                  <div class="header-nav-features-dropdown header-nav-features-dropdown-mobile-fixed header-nav-features-dropdown-force-right" id="headerTopUserDropdown">
                    <div class="signin-form">
                      {{user_login()}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
{% endblock %}
