     {% set c = block_parser(content) %}
      <footer id="footer">
				<div class="container">
					<div class="row py-5 justify-content-center">
						<div class="col-md-9 offset-md-1 offset-lg-0 mb-4 mb-lg-0 d-flex align-items-center">
							<div class="footer-nav footer-nav-links footer-nav-bottom-line">
								<nav>
									<ul class="nav" id="footerNav">
									{% if c.menu  %}
                                        {% set footer_menu = simplify_menu(c.menu) %}
                                        {% for item in footer_menu.menu_tree %}
                                            <li><a class="text-3" href=" {{ item.url }}">{{ item.text }}</a></li>
                                        {% endfor %}
									{% endif %}	
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-md-4 col-lg-3 mb-4 mb-lg-0 text-center text-lg-right">
                              {{c.body|first.value|raw}}
						</div>
					</div>
				</div>
				<div class="footer-copyright footer-copyright-style-2">
					<div class="container py-2">
						<div class="row py-4">
							<div class="col-lg-1 d-flex align-items-center justify-content-center justify-content-lg-start mb-2 mb-lg-0">
								<a href="/" class="logo pr-0 pr-lg-3">
									<img alt="" src="{{c.logo.image.url}}" height="32">
								</a>
							</div>
							<div class="col-lg-11 d-flex align-items-center justify-content-center justify-content-lg-end mb-4 mb-lg-0">
								<p>{{c.text|raw}}</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
