
{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}
{% set c = block_parser(content) %}
{% set map = c.map %}
{% set map_length = map|length %}
{{ attach_library('platform_theme/google_map') }}

<div style="background: #fcfafc; margin-bottom: 50px;">
    <div class="container" >
        <div class="row" style="padding: 40px 0">
            <div id="map" style="height: 500px; width: 100%;"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var locations = [
      ['Bondi Beach', -33.890542, 151.274856, 4],
      ['Coogee Beach', -33.923036, 151.259052, 5],
      ['Cronulla Beach', -34.028249, 151.157507, 3],
      ['Manly Beach', -33.80010128657071, 151.28747820854187, 2],
      ['Maroubra Beach', -33.950198, 151.259302, 1]
    ];
    var locations = [
        {% for size in 0 .. (map_length - 1) %}
            ['', {{ map[size].lat }}, {{ map[size].lng }}, {{size}}],
        {% endfor %}
    ];
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: new google.maps.LatLng(-33.92, 151.25),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    
    var infowindow = new google.maps.InfoWindow();

    var marker, i;
    
    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        icon:"{{c['field_image1']['image'].url}}",
        map: map
      });
      
      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
</script>

{% endblock %}