{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}
<!-- HEADER 2-->
{% set c = block_parser(content) %}
{% if c.menu %}
{% set menu_main = simplify_menu(c.menu) %}
{% set menu_main_length = menu_main|length %}
{% set user = current_user() %}
{% endif %}

{% if c.menu2 %}
{% set menu_account = simplify_menu(c.menu2) %}
{% set menu_account_length = menu_account|length %}
{% endif %}

    <style>
        .dropdown-menu-and span {
            font-size: 12px;
            color: #7d7d7d;
            padding: 10px;
        }

        .header2-and .header-column .fa-user.fa-user-and::before  {
            font-size : 1.3em !important;
            color:#fff !important;
        }

        .top-and{
            margin-top: 5px;
            opacity: 0;
        }

        .header2-and .fas:before {
            margin-right: 10px
        }

        .fa-user:before {
            content: "\f007";
            font-size: 16px;
        }
        .header-body-and,  #header .header-body:not(.h-100) {
            background: #3366cc !important;
        }
        #header .header-nav-features .header-nav-features-dropdown {
            min-width: 200px !important;
            margin-right: -26px !important;
            margin-top: 54px !important;
            top: 0 !important;
            z-index: 10000 !important;
        }
        #header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
            color: #fff !important;
        }
        #header .header-body {
            border-top: 3px solid #3366cc !important;
        }
        #header .header-nav.header-nav-line nav > ul li:hover > a:before {
        background: #fff !important;
        }
        #header .header-nav-main nav > ul > li.dropdown.open > a:before, #header .header-nav-main nav > ul > li.dropdown:hover > a:before {
            border-bottom-color: #fff !important;
        }
        .nav-pills-and > li a {
            border-bottom: 1px solid #f7f7f7;
            color: #777;
            color: #7d7d7d;
            font-size: 0.8em;
            font-weight: 400;
            padding: 6px 18px 6px 18px;
            position: relative;
            text-transform: none;
            text-decoration: none;
            letter-spacing: -0.5px;
            line-height: 1.3rem;
            display: block;
            border-radius: 2px;
            letter-spacing: -0.5px;
        }
        .nav-pills-and {
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            padding-left: 0 !important;
        }
        .nav-pills-and a:hover {
            text-decoration: none !important;
        }
        .nav-pills-and > li:hover > a {
            background-color: #f8f9fa !important;
        }
        
        .dropdown-item.active, .dropdown-item:active {
            color: #fff !important;
            text-decoration: none;
            background-color: #f8f9fa !important
        }
        @media only screen and (max-width: 991px) {
                #header .header-nav-main:not(.header-nav-main-mobile-dark) nav > ul > li > a {
                    color: #76757575 !important;
                }
                #header .header-nav.header-nav-line:not(.header-nav-light-text) nav > ul > li > a {
                    color: #76757575 !important;
                }
        }
        @media only screen and (max-width: 560px) {
            .btn-details-and span {
                display: none;
            }
        }
        #header .header-nav-features .header-nav-features-dropdown.show {
            opacity: 1;
            top: auto;
            pointer-events: all;
        }
        .btn-details-and {
            color: #fff;
            padding: 0 20px;
        }
        .btn-details-and:hover {
            text-decoration : none !important;
            color: #fff !important
        }
        .btn-details-and .fas:before {
            margin-right: 0 !important
        }
    </style>

<header id="header" data-plugin-options="{'stickyEnabled': false, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}" class="header-2 header2-and">   
    <div class="header-body header-body-and">
        <div class="header-container container">
            <div class="header-row">

                <div class="header-column">
                    <div class="header-row">
                        <div class="header-logo">
                            <a href="{{base_url()}}">
                                <img alt="Travel Bug USA" class="header-logo-non-sticky" src="{{c['field_image1']['image'].url}}" style="position: relative; left: -35px;height:48px; max-width:243px; width:auto; opacity:1 !important">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="header-column justify-content-end">
                    <div class="header-row">
                        
                        <div class="header-nav header-nav-line header-nav-top-line header-nav-top-line-with-border order-2 order-lg-1">
                            <div class="header-nav-main header-nav-main-square header-nav-main-effect-2 header-nav-main-sub-effect-1">
                                <nav class="collapse">
                                    <ul class="nav nav-pills" id="mainNav" style="">
                                        {% for item in menu_main.menu_tree %}
                                            <li class="dropdown">
                                                <a class="dropdown-item" href="{{ item.url }}">
                                                    {{ item.text }}
                                                </a>
                                            </li>  
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>

                        <div class="header-nav-and header-nav-features header-nav-features-no-border header-nav-features-lg-show-border order-1 order-lg-2">
                            
                            <div class="header-nav-feature header-nav-features-search d-inline-flex">
                                <a href="#" class="" onclick="myFunction(); return false;">
                                    <i class="far fa-user fa-user-and"></i>
                                </a>
                             
                                <a href="{{base_url()}}/car/details" class="btn-details-and" data-plugin-options="{'minWindowWidth': 0}">
                                    <span>Book now</span><i class="fas fa-arrow-right ms-2"></i>
                                </a>
                        
                                <div class="header-nav-features-dropdown" id="headertopuser">
                                
                                        <ul class="nav-pills nav-pills-and">
                                            {% if not is_login() %}
                                                <li>
                                                    <a href="{{base_url()}}/signin-signup">
                                                        Login
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="{{base_url()}}/signin-signup">
                                                        Sign up
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li style="font-size: 0.75rem;text-align: center;color: #7d7d7d;">
                                                  
                                                </li> 
                                                {% for item in menu_account.menu_tree %}

                                                    {% if item.url =="/user" %}
                                                        {% set ic = "fas fa-user" %}
                                                    {% endif %}
            
                                                    {% if item.url =="/user/bookings" %}
                                                        {% set ic = "fas fa-book-open" %}
                                                    {% endif %}
                                                        
                                                    {% if item.url =="/admin" %}
                                                        {% set ic = "fas fa-chart-bar" %}
                                                    {% endif %}
                                                        
                                                    {% if item.url =="/user/logout" %}
                                                        {% set ic = "fas fa-sign-out-alt" %}
                                                    {% endif %}
                                                <li>
                                                    <a href="{{ item.url }}">
                                                        <i class="{{ic}}"></i> 
                                                        {{ item.text }} 
                                                    </a>
                                                </li>
                                                {% endfor %}
                                            {% endif %}
                                        </ul>
                                       
                                </div>
                            </div>

                            
                            
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</header>

<script>
function myFunction() {
   var element = document.getElementById("headertopuser");
   element.classList.toggle("show");
}
</script>

<!-- END HEADER 2-->

{% endblock %}
