     {{ attach_library('porto/owl.carousel') }}
        {% set c = block_parser(content) %}
        <section class="section bg-light section-height-1 border-0 m-0">
            <div class="container-fluid container-xl-custom py-3">
                <div class="row mb-5">
                    <div class="col">

                        <div class="owl-carousel owl-theme nav-style-1 stage-margin mb-0" data-plugin-options="{'responsive': {'576': {'items': 1}, '768': {'items': 2}, '992': {'items': 3}, '1200': {'items': 4}}, 'margin': 3, 'loop': true, 'nav': true, 'dots': false, 'stagePadding': 40}">
                            {% for p in c.paragraphs %}
                                <div class="m-3">
                                    <div class="hover-effect-3d">
                                        <a href="{{ p.field_link.url }}" target="_blank">
											<span class="thumb-info thumb-info-lighten">
												<span class="thumb-info-wrapper">
													<img style="min-height:225px;" src="{{ p.media.image.url  }}" class="img-fluid border-radius-0" alt="">
													<span class="thumb-info-title">
														<span class="thumb-info-inner">{{ p.titre_formate }}</span>
														<span class="thumb-info-type"> {{ p.term.title }} </span>
													</span>
													<span class="thumb-info-action">
														<span class="thumb-info-action-icon bg-dark opacity-8"><i class="fas fa-plus"></i></span>
													</span>
												</span>
											</span>
                                        </a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                {% if (c.link) %}
                <div class="row">
                    <div class="col text-center">
                        <a href="{{ c.link.url }}" class="btn btn-primary font-weight-semibold text-3 px-5 btn-py-2">{{ c.link.title }}</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </section>
