{% extends get_module_path('templating') ~ "/templates/misc/block.html.twig" %}
{% block templating_content %}
{{ attach_library('mz_payment/stripe') }}
{{ attach_library('mz_payment/mz_payment') }}

<style>
.custom-accordion-style-1 > .card .accordion-toggle {
    background-color: #f4f4f4 !important;
}
.custom-bg-color-grey-1 {
    background-color: #f8f9fb;
}
#card-errors{
  color:red;
}
.row-payment-and {
    background: #fff !important
}
.row-payment-and .border-color-hover-dark {
    border: none !important;
}
.row-payment-and .card-body-and {
    margin-top: 50px;
}
</style>
{% set params = storage_get('booking_info_process') %}
{% set c = block_parser(content) %}
{% set params2 = storage_get('booking_info') %}

{% if params2['booking-range'] %}
    {% set booking_ranges = params2['booking-range'] %}
    {% set booking_range = booking_ranges|number_format(2, '.', '.') %}
    {% set booking_range = booking_range|round(2,'ceil') %}
{% else %}
    {% set booking_range = 0 %}
{% endif %}

{% if params2['Security_Deposit'] %}
    {% set security_deposit = params2['Security_Deposit']|number_format(2, '.', '.') %}
{% else %}
    {% set security_deposit = 0 %}
{% endif %}

{% if params2['Cleaning_Fee'] %}
    {% set cleaning_fee = params2['Cleaning_Fee']|number_format(2, '.', '.') %}
{% else %}
   {% set cleaning_fee = 0 %}
{% endif %}

{% if params2['Dump_Fee'] %}
    {% set dump_fee = params2['Dump_Fee']|number_format(2, '.', '.') %}
{% else %}
   {% set dump_fee = 0 %}
{% endif %}

{% if params2['Pet_Deposit'] %}
    {% set pet_deposit = params2['Pet_Deposit']|number_format(2, '.', '.') %}
{% else %}
   {% set pet_deposit = 0 %}
{% endif %}

{% if params2['Chair'] and params2['Chair']!=0  %}
    {% set chair = params2['Chair']|number_format(2, '.', '.') %}
{% else %}
   {% set chair = 0 %}
{% endif %}

{% if params2['Insurance'] and ( params2['Insurance'] is defined ) %}
    {% set insurance_array = params2['Insurance']|split('----') %}
    {% set insurances = insurance_array|last %}
    {% set insurance = insurances|number_format(2, '.', '.') %}
{% else %}
   {% set insurance = 0 %}
{% endif %}

{% set subtotal = booking_range + security_deposit + cleaning_fee + dump_fee + pet_deposit +  chair + insurance %}
{% set taxs = subtotal*9.25/100 %}    
{% set tax = taxs|number_format(2, '.', '.') %}
{% set totals = subtotal + tax %}
{% set total = totals|number_format(2, '.', ',') %}
     
<section class="border-0 custom-bg-color-grey-1 custom-el-pos-3 p-relative z-index-1" style="margin-bottom:50px">
    <div class="container py-5">
        <div class="row justify-content-between  row-payment-and">
            <div class="col-lg-6">
                <div class="hidden accordion accordion-modern-status accordion-modern-status-primary" id="accordion100">
                    <div class="card card-default">
                        <div class="card-header" id="collapse100HeadingOne">
                            <h4 class="card-title m-0">
                                <a class="accordion-toggle bg-light text-color-dark font-weight-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapse100One" aria-expanded="false" aria-controls="collapse100One">
                                    {{c.field_subtitle}}
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="card card-default">
                        <div class="collapse" aria-labelledby="collapse100HeadingTwo" data-bs-parent="#accordion100" style="display: block !important;">
                            <div class="card-body" style="height:350px !important; overflow-x: hidden; overflow-y: auto;">
                                <p class="mb-0">
                                    - Date range for a reservation : {{params.booking-range-date}} <br />
                                    - Total : ${{params.total}} This fee will cover preparing to your rental.<br />
                                    - Driver type : {{params.with_driver__type}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="bg-light my-4" style="padding-left: 3rem; padding-right: 3rem;">
                <div class="card border-width-3 border-radius-0 border-color-hover-dark" data-plugin-options="{'minWidth': 991, 'containerSelector': '.row', 'padding': {'top': 85}}" style="max-width: 400px; width: 400px; margin:auto">
                    <div class="card-body-and">
                        <h4 class="font-weight-bold text-uppercase text-4 mb-3">Your Booking</h4>
                        <table class="shop_table cart-totals mb-3">
                            <tbody>
                                <tr>
                                    <td>
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Selected dates </strong>
                                        <span class="text-1">{{params2['booking-range-date']}}</span>
                                    </td>
                                    <td class="text-end align-top">
                                        <span class="font-weight-medium text-color-grey">
                                            {{params2['booking-range']}}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="border-top-0 pt-0">
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Security Deposit </strong>
                                    </td>
                                    <td class="border-top-0 text-end align-top pt-0">
                                        <span class="amount font-weight-medium text-color-grey">
                                            {{params2['Security_Deposit']}}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                {% if cleaning_fee!= 0 %}
                                <tr>
                                    <td class="border-top-0 pt-0">
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Cleaning Fee </strong>
                                    </td>
                                    <td class="border-top-0 text-end align-top pt-0">
                                        <span class="amount font-weight-medium text-color-grey">
                                            {{cleaning_fee}}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if dump_fee!= 0%}
                                <tr>
                                    <td class="border-top-0 pt-0">
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Dump Fee </strong>
                                    </td>
                                    <td class="border-top-0 text-end align-top pt-0">
                                        <span class="amount font-weight-medium text-color-grey">
                                            {{ dump_fee  }}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if pet_deposit!=0 %}
                                <tr>
                                    <td class="border-top-0 pt-0">
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Pet Deposit </strong>
                                    </td>
                                    <td class="border-top-0 text-end align-top pt-0">
                                        <span class="amount font-weight-medium text-color-grey">
                                            {{pet_deposit}}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if chair!=0 %}
                                <tr>
                                    <td class="border-top-0 pt-0">
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Chair </strong>
                                    </td>
                                    <td class="border-top-0 text-end align-top pt-0">
                                        <span class="amount font-weight-medium text-color-grey">
                                            {{chair}}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                {% if insurance!=0 %}
                                <tr>
                                    <td class="border-top-0 pt-0">
                                        <strong class="d-block text-color-dark line-height-1 font-weight-semibold">Insurance </strong>
                                    </td>
                                    <td class="border-top-0 text-end align-top pt-0">
                                        <span class="amount font-weight-medium text-color-grey">
                                            {{insurance}}<span class="currency-label">$</span>
                                        </span>
                                    </td>
                                </tr>
                                {% endif %}
                                <tr class="total">
                                    <td>
                                        <strong class="text-color-dark text-3-5">Sub Total</strong>
                                    </td>
                                    <td class="text-end">
                                        <span class="text-color-dark amount text-color-dark text-3">{{subtotal}}<span class="currency-label">$</span></span>
                                    </td>
                                </tr>
                                <tr class="total">
                                    <td>
                                        <strong class="text-color-dark text-3-5">Tax </strong>
                                    </td>
                                    <td class="text-end">
                                        <span class="text-color-dark amount text-color-dark text-3">{{ tax }}<span class="currency-label">$</span></span>
                                    </td>
                                </tr>
                                <tr class="total">
                                    <td>
                                        <strong class="text-color-dark text-3-5">Total</strong>
                                    </td>
                                    <td class="text-end">
                                        <strong class="text-color-dark"><span class="amount text-color-dark text-5">{{total}}<span class="currency-label">$</span></span></strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="bg-light text-center p-5 my-4">
                    <div class="py-2 px-md-5 pb-5">
                        <h2 class="font-weight-bold text-7 mb-1">{{c.field_title}}</h2>
                        <p class="text-3-5 mb-5-5"> {{c['body'][0].value|replace({"<p>": "", '</p>': ""})}}</p>
                         <form id="stripe-hold" action="/payment" method="POST">
                                <div class="group">
                                <label class="card-number-label">
                                    <span>Card number</span>     </label>
                                    <div id="card-element" class="field"></div>
                                <label class="amount-label">
                                    <span>Amount</span>
                                </label>
                                <input type="hidden" id="booking_id"  name="booking_id" value="{{ params.booking_id }}" class="field"  />

                                <input id="amount" required readonly name="amount" value="{{params.total}}" class="field" placeholder="0.00" /> {{ front_currency()|raw }}

                                </div>
                                <button type="submit">Submit Payment</button>
                                <div class="outcome" id="card-errors" role="alert">
                                <div class="error" style="color:red !important"></div>
                                <div class="success">
                                    Success! Your Stripe token is <span class="token"></span>
                                </div>
                                </div>
                            </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
{% endblock %}
