{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 *
 * @see template_preprocess_user()
 */
#}

{% extends get_module_path('templating') ~ "/templates/misc/user.html.twig" %}
{% block templating_content %}
  {#
  /**
   * @file
   * Theme override to present all user data.
   *
   * This template is used when viewing a registered user's page,
   * e.g., example.com/user/123. 123 being the user's ID.
   *
   * Available variables:
   * - content: A list of content items. Use 'content' to print all content, or
   *   print a subset such as 'content.field_example'. Fields attached to a user
   *   such as 'user_picture' are available as 'content.user_picture'.
   * - attributes: HTML attributes for the container element.
   * - user: A Drupal User entity.
   *
   * @see template_preprocess_user()
   */
  #}
  {% set u = user_parser(user) %}
  <article{{ attributes.addClass('profile') }}>
    {% if content %}
      <div class="container pt-3 pb-2">
        <div class="row">
          <div class="col">
            <ul class="breadcrumb breadcrumb-style-2 d-block text-4 mb-4">
              <li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Home</a></li>
              <li>User profil</li>
            </ul>
          </div>
        </div>
        <div class="row pt-2">
          <div class="col-lg-3 mt-4 mt-lg-0">

            <div class="d-flex justify-content-center mb-4">
              <div class="profile-image-outer-container">
                <div class="profile-image-inner-container bg-color-primary">
                  {% if u.user_picture %}
                    <img src="{{ u.user_picture.url }}">
                  {% else %}
                    <img src="{{ base_url() }}/{{ directory }}/img/avatars/avatar.jpg">
                  {% endif %}
                </div>
                <input type="file" id="file" class="profile-image-input">
              </div>
            </div>

            <aside class="sidebar mt-2" id="sidebar">
              <ul class="nav nav-list flex-column mb-5">
                {% set user_menu = simplify_menu('account') %}
                {% for item in user_menu.menu_tree %}
                  <li class="nav-item"><a class="nav-link" href=" {{ item.url }}">{{ item.text }}</a></li>
                {% endfor %}
              </ul>
              <div class="row">
                <div class="col">
                  <h5 class="font-weight-semi-bold">Recents Booking</h5>
                  <div class="product row row-gutter-sm align-items-center mb-4">
                    <div class="col-5 col-lg-5">
                      <div class="product-thumb-info border-0">
                        <a href="shop-product-sidebar-left.html">
                          <div class="product-thumb-info-image">
                            <img alt="" class="img-fluid" src="img/products/product-grey-6.jpg">
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
                      <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">hat</a>
                      <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Blue Hat</a></h3>
                      <div title="Rated 5 out of 5">
                        <input type="text" class="d-none" value="5" title="" data-plugin-star-rating="" data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
                      </div>
                      <p class="price text-4 mb-0">
                        <span class="sale text-color-dark font-weight-semi-bold">$299,00</span>
                        <span class="amount">$289,00</span>
                      </p>
                    </div>
                  </div>
                  <div class="product row row-gutter-sm align-items-center mb-4">
                    <div class="col-5 col-lg-5">
                      <div class="product-thumb-info border-0">
                        <a href="shop-product-sidebar-left.html">
                          <div class="product-thumb-info-image">
                            <img alt="" class="img-fluid" src="img/products/product-grey-8.jpg">
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
                      <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">accessories</a>
                      <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Adventurer Bag</a></h3>
                      <div title="Rated 5 out of 5">
                        <input type="text" class="d-none" value="5" title="" data-plugin-star-rating="" data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
                      </div>
                      <p class="price text-4 mb-0">
                        <span class="sale text-color-dark font-weight-semi-bold">$99,00</span>
                        <span class="amount">$79,00</span>
                      </p>
                    </div>
                  </div>
                  <div class="product row row-gutter-sm align-items-center mb-4">
                    <div class="col-5 col-lg-5">
                      <div class="product-thumb-info border-0">
                        <a href="shop-product-sidebar-left.html">
                          <div class="product-thumb-info-image">
                            <img alt="" class="img-fluid" src="img/products/product-grey-9.jpg">
                          </div>
                        </a>
                      </div>
                    </div>
                    <div class="col-7 col-lg-7 ms-md-0 ms-lg-0 ps-lg-1 pt-1">
                      <a href="#" class="d-block text-uppercase text-decoration-none text-color-default text-color-hover-primary line-height-1 text-0 mb-2">sports</a>
                      <h3 class="text-3-5 font-weight-medium font-alternative text-transform-none line-height-3 mb-0"><a href="shop-product-sidebar-right.html" class="text-color-dark text-color-hover-primary text-decoration-none">Baseball Ball</a></h3>
                      <div title="Rated 5 out of 5">
                        <input type="text" class="d-none" value="5" title="" data-plugin-star-rating="" data-plugin-options="{'displayOnly': true, 'color': 'dark', 'size':'xs'}">
                      </div>
                      <p class="price text-4 mb-0">
                        <span class="sale text-color-dark font-weight-semi-bold">$399,00</span>
                        <span class="amount">$299,00</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </aside>

          </div>
          <div class="col-lg-9 card-form">
            {{ render_form_entity('user','user',u.uid) }}
          </div>
        </div>

      </div>
    {% endif %}
  </article>
{% endblock %}
