{#
/**
 * @file
 * Theme override for displaying a view as a table.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 *   - class: HTML classes that can be used to style contextually through CSS.
 * - title : The title of this group of rows.
 * - header: The table header columns.
 *   - attributes: Remaining HTML attributes for the element.
 *   - content: HTML classes to apply to each header cell, indexed by
 *   the header's key.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - caption_needed: Is the caption tag needed.
 * - caption: The caption for this table.
 * - accessibility_description: Extended description for the table details.
 * - accessibility_summary: Summary for the table details.
 * - rows: Table row items. Rows are keyed by row number.
 *   - attributes: HTML classes to apply to each row.
 *   - columns: Row column items. Columns are keyed by column number.
 *     - attributes: HTML classes to apply to each column.
 *     - content: The column content.
 *   - default_classes: A flag indicating whether default classes should be
 *     used.
 * - responsive: A flag indicating whether table is responsive.
 * - sticky: A flag indicating whether table header is sticky.
 * - summary_element: A render array with table summary information (if any).
 *
 * @see template_preprocess_views_view_table()
 */
#}
{% set classes = [
'views-table',
'table',
'views-view-table',
'cols-' ~ header|length,
'shop_table cart',
responsive ? 'responsive-enabled',
sticky ? 'sticky-enabled',
] %}

<div  class="container py-2">
<div class="row">
        <div class="col">
          <ul class="breadcrumb breadcrumb-style-2 d-block text-4 mb-4 pt-4 pb-2">
            <li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Home</a></li>
            <li>My bookings</li>
          </ul>
        </div>
      </div>
					<div class="row">
					    <div class="col-lg-3 order-2 order-lg-1">
                            <div class="d-flex justify-content-center mb-4">
                                <div class="profile-image-outer-container">
                                    <div class="profile-image-inner-container bg-color-primary">
                                                                                    <img src="http://www.sahaza.net/sites/default/files/pictures/2022-09/project-6.jpeg">
                                                                            </div>
                                </div>
                            </div>
                                <aside class="sidebar">
                                       <ul class="nav nav-list flex-column sort-source mb-5">
                                                  {% set account = simplify_menu('account') %}
                                                    {% for item in account.menu_tree %}
                                                    <li><a class="dropdown-item" href="{{ item.url }}">{{ item.text }}</a></li>
                                                    {% endfor %}
                                       </ul>
                                </aside>
                        </div>
						<div class="col-lg-9 order-1 order-lg-2  table-view-porto">

							<div class="row">
							     	
								<div class="col pb-3 order-lg-2-custom">

								 <table{{ attributes.addClass(classes) }}>
        {% if caption_needed %}
            <caption>
                {% if caption %}
                    {{ caption }}
                {% else %}
                    {{ title }}
                {% endif %}
                {% if (summary_element is not empty) %}
                    {{ summary_element }}
                {% endif %}
            </caption>
        {% endif %}
        {% if header %}
            <thead>
            <tr class="text-color-dark">
                {% for key, column in header %}
                    {% if column.default_classes %}
                        {% set column_classes = [
                        'views-field',
                        'views-field-' ~ fields[key],
                        ] %}
                    {% endif %}
                <th{{ column.attributes.addClass(column_classes).setAttribute('scope', 'col') }}>
                    {%- if column.wrapper_element -%}
                        <{{ column.wrapper_element }}>
                        {%- if column.url -%}
                            <a href="{{ column.url }}" title="{{ column.title }}"
                               rel="nofollow">{{ column.content }}{{ column.sort_indicator }}</a>
                        {%- else -%}
                            {{ column.content }}{{ column.sort_indicator }}
                        {%- endif -%}
                        </{{ column.wrapper_element }}>
                    {%- else -%}
                        {%- if column.url -%}
                            <a href="{{ column.url }}" title="{{ column.title }}"
                               rel="nofollow">{{ column.content }}{{ column.sort_indicator }}</a>
                        {%- else -%}
                            {{- column.content }}{{ column.sort_indicator }}
                        {%- endif -%}
                    {%- endif -%}
                    </th>
                {% endfor %}
            </tr>
            </thead>
        {% endif %}
        <tbody>
        {% for row in rows %}
            <tr{{ row.attributes }}>
                {% for key, column in row.columns %}
                    {% if column.default_classes %}
                        {% set column_classes = [
                        'views-field'
                        ] %}
                        {% for field in column.fields %}
                            {% set column_classes = column_classes|merge(['views-field-' ~ field]) %}
                        {% endfor %}
                    {% endif %}
                <td{{ column.attributes.addClass(column_classes) }}>
                    {%- if column.wrapper_element -%}
                        <{{ column.wrapper_element }}>
                        {% for content in column.content %}
                            {{ content.separator }}{{ content.field_output }}
                        {% endfor %}
                        </{{ column.wrapper_element }}>
                    {%- else -%}
                        {% for content in column.content %}
                            {{- content.separator }}{{ content.field_output -}}
                        {% endfor %}
                    {%- endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
								</div>
							</div>

						</div>
					</div>

				</div>