   <style>
    .container-bookings-and .page-item.disabled .page-link {
        background-color: #e9ecef !important;
        border-color: #dee2e6 !important;
    }
    .container-bookings-and   .pagination .page-item.active .page-link {
        background-color: #4471c6  !important;
        border-color: #4471c6;
        color: #fff
    }
    .container-bookings-and li.paginate_button a {
        color: #fff !important;
        background: #e9ecef !important;
    }

    .container-bookings-and a {
        color: #333 !important;
    }
    .container-bookings-and  .btn-primary, .container-bookings-and .pagination > .container-bookings-and .active > .container-bookings-and a, .container-bookings-and .pagination > .container-bookings-and .active > .container-bookings-and  span, .container-bookings-and  .pagination > .container-bookings-and .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus, ngs-and .pagination .page-item.active .page-link {
        background-color: #3366CC !important;
        border-color: #3366CC !important;
        color: #fff !important;
    }

    .container-bookings-and li.paginate_button a {
        color: #fff !important
    }
    .booking_info{
        width:35%;
    }
</style>

<div  class="container py-2 container-bookings-and">
    <div class="row">
        <div class="col">
          <ul class="breadcrumb breadcrumb-style-2 d-block text-4 mb-4 pt-4 pb-2">
            <li><a href="#" class="text-color-default text-color-hover-primary text-decoration-none">Home</a></li>
            <li>My bookings</li>
          </ul>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-3 order-2 order-lg-1">
            <div class="d-flex justify-content-center mb-4">
                <div class="profile-image-outer-container">
                    <div class="profile-image-inner-container bg-color-primary">
                        <img src="http://www.sahaza.net/sites/default/files/pictures/2022-09/project-6.jpeg">
                    </div>
                </div>
            </div>
            <aside class="sidebar">
                <ul class="nav nav-list flex-column sort-source mb-5">
                     {% set account = simplify_menu('account') %}
                      {% for item in account.menu_tree %}
                            <li class="nav-item" data-option-value="*"><a class="nav-link" href=" {{ item.url }}">{{ item.text }}</a></li>
                     {% endfor %}
                </ul>
            </aside>
        </div>
       
        <div class="col-lg-9 order-1 order-lg-2  table-view-porto">
            <div class="row">
                <div class="col">
                    <div class="card card-modern">
                        <div class="card-body">
                            <div class="datatables-header-footer-wrapper">
                                {# <div class="datatable-header">
                                    <div class="row align-items-center mb-3">
                                        <div class="col-12 col-lg-auto ps-lg-1">
                                              <form action="{{current_url_alias()}}">
                                            <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                                <div class="input-group">
                                          
                                                    <input type="text" class="search-term form-control" name="search-term" id="search-term" placeholder="Search Order">
                                                    <button class="btn btn-primary btn-md" type="submit"><i class="bx bx-search"></i></button>
                                            
                                                </div>
                                            </div>
                                               </form>  
                                        </div>
                                           
                                    </div>
                                </div> #}
                                <div id="datatable-ecommerce-list_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer"><div class="row justify-content-between"><div class="col-auto"></div><div class="col-auto"></div></div><div class="table-responsive"><table class="table table-ecommerce-simple table-borderless table-striped mb-0 dataTable no-footer" id="datatable-ecommerce-list" style="min-width: 640px;" role="grid" aria-describedby="datatable-ecommerce-list_info">
                                    <thead>
                                        <tr role="row">

                                            <th width="40%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="ID: activate to sort column ascending" style="width: 66.625px;">Booking info</th>
                                            <th width="18%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Date: activate to sort column ascending" style="width: 186.175px;">Dates</th>
                                            <th width="18%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Total: activate to sort column ascending" style="width: 186.175px;">Price</th>
                                            <th width="15%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 150.312px;">Status</th>
                                            <th width="15%" class="sorting" tabindex="0" aria-controls="datatable-ecommerce-list" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 150.312px;"></th>
                                         </tr>
                                    </thead>
                                    <tbody> 

                                        {% for  item in rows %}
                                            {% set object = item|first['#node']  %}
                                            {% set n = node_parser(object) %}
                                          
                        
                                            {% set state = n.moderation_state %} 

                                            {% if n.moderation_state == "canceled_booking" %}
                                          
                                                {% set state = "Cancel" %} 
                                            
                                            {% endif %}
    
                                                <tr role="row" class="odd">
                                                    <td class="booking_info">
                                                             <a href="{{node_url(n['field_item'].nid)}}"><b>{{n['field_item'].title}}</b></a><br/>
                                                               {% for  add in n.field_addons %}
                                                                    <b>{{add.field_name}}</b> : {{add.field_value}} $ <br/>
                                                               {% endfor %}
                                                    </td>
                                                    <td>{{ n['field_dates'][0].value}} <br> {{ n['field_dates'][0].end_value }}</td>
                                                    <td>{{n.field_price_default}} $ </td>
                                                    <td>
                                                        <span class="ecommerce-status on-hold">{{state}}</span>
                                                    </td>
                                                    <td>
                                                        <div class="btn-group" role="group">
                                                            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Actions</button>
                                                            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                                                <a class="dropdown-item" href="#">Refund</a>
                                                                <a class="dropdown-item" href="#">Download Invoice</a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                   
                                          
                                        {% endfor %}

                                    </tbody>
                                </table></div></div>                     
                        </div>
                    </div>
                </div>
                </div>
            <!-- end: page -->
            </div>
        </div>

    </div>
</div>